include ../generic/mixins.pug
.page.page__my-meetings.page__my-meetings--all
    .layout
        .maincolumn
            .layout--inner
                .my-meetings__header.my-meetings__header--all
                    | Все встречи
        .sidebar
            include ../blocks/control-bar--filter.pug
        .maincolumn
            .my-meetings__body
                .my-meetings__items
                            
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--all.pug
                        
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--all.pug
                                        
                include ../generic/pagination.pug