include ../generic/mixins.pug
.page.page__my-meetings.page__my-meetings--girl
    .layout
        .maincolumn
            .layout--inner
                .my-meetings__header
                    | Мои отклики
                .my-meetings__header.my-meetings__header--back
                    .icon.icon__arrow-left
                    | Просмотр встречи
            .my-meetings__body
                .my-meetings__items
                            
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--girl.pug
                        include ../blocks/my-meetings__item__description--girl--mobile.pug
                                
                        .my-meetings__item__status.my-meetings__item__status--selected
                            .layout--inner
                                .my-meetings__item__status__text
                                    | Вы выбраны исполнителем
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                                    a.my-meetings__item__status__action__item.my-meetings__item__status__action__refuse(href="javascript:")
                                        | Отказаться
                        
                        .my-meetings__item__responses
                        
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--girl.pug
                        include ../blocks/my-meetings__item__description--girl--mobile.pug
                                
                        .my-meetings__item__status.my-meetings__item__status--wait
                            .layout--inner
                                .my-meetings__item__status__text
                                    | Ожидание ответа заказчика
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                                    a.my-meetings__item__status__action__item.my-meetings__item__status__action__refuse(href="javascript:")
                                        | Отказаться
                        
                        .my-meetings__item__responses
                                        
                include ../generic/pagination.pug
                
        .sidebar
            include ../blocks/control-bar.pug