section.page.page__meeting
    .layout
        article.maincolumn
            .layout--inner
                h1.h1.meeting__title
                    | Ищу двух девушек сегодня на ночь 
                    small
                        | Создано: сегодня, 14:22
            .meeting__content.content
                .layout--inner
                    p.meeting__content__block
                        b 
                            | Дата и время: 
                        | Сегодня в 19:00
                    p.meeting__content__block
                        b 
                            | Место встречи: 
                        | Отель
                    p.meeting__content__block
                        b 
                            | Продолжительность: 
                        | 2 часа
                    p.meeting__content__block
                        b 
                            | Оплата целиком за встречу: 
                        | 30 000 руб.
                    p.meeting__content__block
                        b 
                            | Комментарий: 
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .meeting__additional-params
                    .meeting__additional-params__title.flag
                        | Дополнительные требования
                    .meeting__additional-params__items
                        .layout--inner
                            .meeting__additional-params__item.button.button--tag
                                | 20 - 35 лет
                            .meeting__additional-params__item.button.button--tag
                                | грудь: 2 - 3 размер
                    
        .sidebar
            a.meeting__back-to-all.link(href="javascript:")
                | Вернуться к списку всех встреч
            .meeting__client
                .layout--inner
                    .meeting__client__title
                        | Заказчик
                    .meeting__client__img
                    .meeting__client__name
                        | Иван
                    .meeting__client__phone
                        .meeting__client__phone__title
                            | Телефон:
                        .meeting__client__phone__number
                            | +7 (xxx) - xxx - xx - xx
                            span.icon.icon__question.popup
                                .popup__content 
                                    | Вы увидите телефон, как только заказчик примет ваш отклик
                            .meeting__client__phone__tip
                    .button.button--big.button--big--pink
                        | Откликнуться