section.page.page__user.page__user--view
    .layout
        .maincolumn
            .user.user--view 
                .user__info.user__info--view.user__info--main
                    .user__info__left
                        .layout--inner
                            .user__info__img
                                img(src="/img/girl__temp2.png" alt="")
                            .user__info__name
                                | Евгения, 28 лет
                            .user__info__city
                                | Москва
                            .user__info__check-profile
                                .button.button--status
                                    | Профиль проверен
                                    .icon.icon__check-mark--white
                                span.icon.icon__question--dark.popup
                                    div.popup__content
                                        | Что-то
                            .user__info__rating
                                span
                                    | Рейтинг: 
                                .rating
                                    .rating__state
                                        .rating__state-val(style="width:80%;")
                            .user__info-phone
                                .h2
                                    | Телефон
                                .phone-number
                                    | +7 (934) 234 - 32 - 23
                    .user__info__right
                        .layout--inner
                            .user__info__header
                                span
                                    | Основная информация
                        .user__info__body
                            .form-field__container
                                .layout--inner
                                    .form-field__title
                                        | Рост
                                    .form-field__field
                                        .form-field__field__item__row
                                            .form-field__field__item
                                                p
                                                    | 170 см
                            .form-field__container
                                .layout--inner
                                    .form-field__title
                                        | Размер груди
                                    .form-field__field
                                        .form-field__field__item__row
                                            .form-field__field__item
                                                p
                                                    | 3
                                            
                .user__info.user__info--other
                    .user__info__block.user__info__photo-gallery
                        .user__info__header
                            span
                                | Фотогалерея
                        .user__info__body.user__photo-gallery
                            a.user__photo-gallery__item.col-item(href="javascript:")
                                .user__photo-gallery__item__img__wrapper
                                    img(src="/img/girl__temp.png")
                                .user__photo-gallery__item__zoom
                                    span
                                        | Увеличить
                                        
                            a.user__photo-gallery__item.col-item(href="javascript:")
                                    .user__photo-gallery__item__img__wrapper
                                        img(src="/img/video-preview__temp.png")
                                    .user__photo-gallery__item__zoom
                                        span
                                            | Увеличить
                            
                            .user__photo-gallery__item.col-item.user__photo-gallery__more-photo
                                .icon.icon__image-menu--white
                                span
                                    | Еще фото
                    
                    .user__info__block.user__info__selfie
                        .layout--inner
                            .user__info__header
                                span
                                    | Селфи
                            .user__info__body.user__photo-gallery
                                a.user__photo-gallery__item.col-item(href="javascript:")
                                    .user__photo-gallery__item__img__wrapper
                                        img(src="/img/girl__temp.png")
                                    .user__photo-gallery__item__zoom
                                        span
                                            | Увеличить
                                            
                                a.user__photo-gallery__item.col-item(href="javascript:")
                                    .user__photo-gallery__item__img__wrapper
                                        img(src="/img/video-preview__temp.png")
                                    .user__photo-gallery__item__zoom
                                        span
                                            | Увеличить
                                        
                                .user__photo-gallery__item.col-item.user__photo-gallery__more-photo
                                    .icon.icon__image-menu--white
                                    span
                                        | Еще фото
                    .user__info__block.user__info__video
                        .layout--inner
                            .user__info__header
                                span
                                    | Видео
                                    
                            .user__info__body
                                .user__video__inner
                                    img(src="/img/video-preview__temp.png")
                            
                    
        .sidebar
            .user__info-sidebar
                .user__info-sidebar__block.user__info-sidebar__phone
                    .layout--inner
                        .h2
                            | Телефон
                        .phone-number
                            | +7 (934) 234 - 32 - 23
                .user__info-sidebar__block.user__info-sidebar__prices
                    .layout--inner
                        .h2
                            | Цены
                        p
                            b
                                | 1 час – 
                            | 20 000 руб.
                        p
                            b
                                | 1 час – 
                            | 20 000 руб.
                        p
                            b
                                | 2 часа – 
                            | 40 000 руб.
                        p
                            b
                                | 2 часа – 
                            | 40 000 руб.
                        
                .user__info-sidebar__block
                    .layout--inner
                        .h2
                            | О себе
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
                .user__info-sidebar__block
                    .layout--inner
                        .h2
                            | Дополнительная информация
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        
                .user__info-sidebar__block
                    .layout--inner
                        .h2
                            | Услуги
                    .user__info-sidebar__tags
                        .user__info-sidebar__tags__line
                        .layout--inner
                            .user__info-sidebar__tags__item
                                .user__info-sidebar__tags__item__title.flag.active
                                    | Традиционные
                                
                                .user__info-sidebar__tags__item__content
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | минет
                                    .button.button--tag
                                        | стриптиз
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | минет
                                    .button.button--tag
                                        | стриптиз
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | минет
                                    .button.button--tag
                                        | стриптиз
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | минет
                                    .button.button--tag
                                        | стриптиз
                                    .button.button--tag
                                        | классический секс
                            
                            .user__info-sidebar__tags__item
                                .user__info-sidebar__tags__item__title.flag
                                    | Игры
                                
                                .user__info-sidebar__tags__item__content
                                    .button.button--tag
                                        | классический секс
                                    .button.button--tag
                                        | кунилингус
                                    .button.button--tag
                                        | стриптиз
                                    .button.button--tag
                                        | классический секс
                        
                .user__info-sidebar__block.user__info__comments
                    .layout--inner
                        .h2
                            | Отзывы
                            
                        .user__info__comments__body
                            .user__info__comments__item
                                .user__info__comments__item__title
                                    | Алексей
                                    small
                                        | 11.09.2016
                                .user__info__comments__item__text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            .user__info__comments__item
                                .user__info__comments__item__title
                                    | Иван
                                    small
                                        | 11.09.2016
                                .user__info__comments__item__text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                            .user__info__comments__item
                                .user__info__comments__item__title
                                    | Андрей
                                    small
                                        | 11.09.2016
                                .user__info__comments__item__text
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        
                        .user__info__comments__bottom 
                            .user__info__comments__arrow--left
                                | <
                            .user__info__comments__arrow--center
                                | Отзывы: 
                                span.current-comment
                                    | 1
                                | /
                                span.count-comments
                                    | 10
                            .user__info__comments__arrow--right
                                | >
                            
                                
                            
                        
            