include ../generic/mixins.pug

.page.page__chat
    .layout
        .maincolumn
            .chat
                .layout--inner
                    .chat__header
                        .chat__header__back.icon.icon__arrow-left
                        h2.h2.chat__header__title
                            | Мои сообщения
                        .h2.chat__header__name
                            | Света, 22 года
                        .chat__header__actions
                            .popup.popup--arrow
                                .icon.icon__wrapper.icon__profile
                                    .icon.icon__profile
                                    .icon.icon__profile--pink
                                .popup__content
                                    | Профиль
                            .popup.popup--arrow
                                .icon.icon__wrapper.icon__del
                                    .icon.icon__del
                                    .icon.icon__del--pink
                                .popup__content
                                    | Удалить
                .chat__body
                    .chat__contacts
                        .chat__search
                            .layout--inner
                                input(type="text" placeholder="Поиск по имени")
                        .chat__contacts__items__wrapper.scrollbar__wrapper
                            .scrollbar
                                .track
                                    .thumb
                                        .end
                            .chat__contacts__items.viewport
                                .overview
                                    .chat__contact__item
                                        .layout--inner
                                            .chat__contact__item__img
                                                .chat__contact__item__img__inner
                                                    | <!--<img>-->
                                                .chat__contact__item__num-messages
                                                    | 1
                                            .chat__contact__item__name
                                                | Альбина
                                    .chat__contact__item.active
                                        .layout--inner
                                            .chat__contact__item__img
                                                .chat__contact__item__img__inner
                                                    | <!--<img>-->
                                                .chat__contact__item__num-messages
                                                    
                                            .chat__contact__item__name
                                                | Света
                                    .chat__contact__item
                                        .layout--inner
                                            .chat__contact__item__img
                                                .chat__contact__item__img__inner
                                                    | <!--<img>-->
                                                .chat__contact__item__num-messages
                                                    | 1
                                            .chat__contact__item__name
                                                | Ольга
                                    .chat__contact__item
                                        .layout--inner
                                            .chat__contact__item__img
                                                .chat__contact__item__img__inner
                                                    | <!--<img>-->
                                                .chat__contact__item__num-messages
                                                    | 1
                                            .chat__contact__item__name
                                                | Ольга
                                    .chat__contact__item
                                        .layout--inner
                                            .chat__contact__item__img
                                                .chat__contact__item__img__inner
                                                    | <!--<img>-->
                                                .chat__contact__item__num-messages
                                                    | 1
                                            .chat__contact__item__name
                                                | Саша
                    
                    .chat__messages
                        .layout--inner
                            .chat__messages__items__wrapper.scrollbar__wrapper
                                .scrollbar
                                    .track
                                        .thumb
                                            .end

                                .chat__messages__items.viewport
                                    .overview
                                        .chat__messages__item.chat__messages__item--you
                                            .chat__messages__item__time
                                                | 22:22
                                            .chat__messages__item__text
                                                | Lorem ipsum dolor sit amet, consectetur am to adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                        
                                        .chat__messages__item.chat__messages__item--companion
                                            .chat__messages__item__text
                                                | Lorem ipsum dolor sit amet, consectetur am to adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                            .chat__messages__item__time
                                                | 22:22
                                                
                                        .chat__messages__item.chat__messages__item--you
                                            .chat__messages__item__time
                                                | 22:22
                                            .chat__messages__item__text
                                                | Lorem ipsum dolor sit amet, consectetur am to adipiscing elit
                                        
                                        .chat__messages__item.chat__messages__item--companion
                                            .chat__messages__item__text
                                                | Lorem ipsum dolor sit amet, consectetur am to adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                            .chat__messages__item__time
                                                | 22:22
                                        
                                        .chat__messages__item.chat__messages__item--companion
                                            .chat__messages__item__text
                                                | Lorem ipsum dolor sit amet, consectetur am to adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                                            .chat__messages__item__time
                                                | 22:22
                                        
                            .chat__messages__actions
                                textarea.chat__messages__actions__field(placeholder="Для отправки сообщения нажмите Enter")
                                .chat__messages__actions__buttons
                                    .chat__messages__actions__send
                                        .button.button--default.button--default--disk
                                            | Отправить
                                    .chat__messages__actions__add-image
                                        .icon.icon__add-image
                                
        .sidebar
            include ../blocks/control-bar.pug