include ../generic/mixins.pug

section.page.page__meeting.page__meeting--create
    .layout
        .maincolumn 
            .meeting__content.content
                .layout--inner
                    h2.h2.meeting__title
                        | Заполните детали встречи
                
                    .form-field__container
                        .form-field__title
                            | Заголовок
                        .form-field__field
                            input(type="text")
                    
                    .form-field__container.form-field--date-time
                        .form-field__title
                            | Дата и время
                        .form-field__field
                            .form-field__field__item__row
                                .form-field__field__item
                                    +select(["15 сентября", "16 сентября"])
                                .form-field__field__item
                                    +select(["19:00", "20:00"])
                            
                    .form-field__container
                        .form-field__title
                            | Место встречи
                        .form-field__field.meeting__fields__place
                            .form-field__field__item__row
                                .form-field__field__item
                                    +radiocheck("place", "Отель", "radio")
                                .form-field__field__item.hidden
                                    input(type="text")
                            .form-field__field__item__row
                                .form-field__field__item
                                    +radiocheck("place", "Место девушки", "radio")
                                .form-field__field__item.hidden
                                    input(type="text")
                            .form-field__field__item__row
                                .form-field__field__item
                                    +radiocheck("place", "Место девушки", "radio")
                                .form-field__field__item.hidden
                                    input(type="text")
                         
                    .form-field__container
                        .form-field__title
                            | Продолжительность
                        .form-field__field
                            .form-field__field__item__row
                                .form-field__field__item
                                    +select(["1 час", "2 часа"])
                                .form-field__field__item
                                    +radiocheck("nosalon", "Обязательно не салон")
                            
                    .form-field__container.form-field--price
                        .form-field__title
                            | Оплата за встречу
                        .form-field__field
                            .form-field__field__item__row
                                .form-field__field__item
                                    input(type="text")
                                .form-field__field__item
                                    p
                                        | руб.
                                .form-field__field__item.form-field__text
                                    span
                                        | Если Вы ищете несколько несколько девушек – указывайте размер оплаты для каждой
                            
            .meeting__additional-params.meeting__additional-params--create
                .meeting__additional-params__title
                    span
                        | Указать дополнительные параметры
                .meeting__additional-params__content.content
                    .layout--inner
                        p
                            | fcsdavsa
                
            .meeting__content.meeting__content__bottom.content
                .layout--inner
                    p
                        | Вы уже зарегистрированы? 
                        a(href="javascript:")
                            | Войти
                            
                    .column3
                        .col-item
                            .form-field__container
                                .form-field__title
                                    | Ваше имя
                                .form-field__field
                                    input(type="text")
                        .col-item
                            .form-field__container
                                .form-field__title
                                    | Ваш телефон
                                .form-field__field
                                    input(type="text")
                                .form-field__text
                                    .form-field__text__inner
                                        | Зачем нужно указывать телефон?
                                    .form-field__text__inner
                                        .form-field__text__popup.icon.icon__question--dark.popup
                                            .popup__content
                                                | Бла-Бла
                        .col-item
                            .button.button--big.button--big--pink
                                | Опубликовать
        .sidebar
            .meeting__faq
                h2.h2
                    .layout--inner
                        | Частые вопросы
                ul
                
                    mixin meeting__faq__item(title, text)
                        li.meeting__faq__item
                            .layout--inner
                                a(href="javascript:")
                                    =title
                                .hidden
                                    =text
                            
                    +meeting__faq__item("Сколько я получу откликов?", "Бла-Бла")
                    +meeting__faq__item("Сколько я получу откликов?", "Бла-Бла")
                