include ../generic/mixins.pug
.page.page__my-meetings.page__my-meetings--man
    .layout
        .maincolumn
            .layout--inner
                .my-meetings__header
                    | Мои отклики
            .my-meetings__body
                .my-meetings__items
                            
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--archive.pug
                                
                        .my-meetings__item__status.my-meetings__item__status--archive
                            .layout--inner
                                .my-meetings__item__status__img
                                    <!-- img -->
                                .my-meetings__item__status__text
                                    | Евгения, 25 лет
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                                    a.my-meetings__item__status__action__item.my-meetings__item__status__action__refuse(href="javascript:")
                                        | Оставить отзыв
                        
                        .my-meetings__item__responses
                        
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--archive.pug
                                
                        .my-meetings__item__status.my-meetings__item__status--archive
                            .layout--inner
                                .my-meetings__item__status__img
                                    <!-- img -->
                                .my-meetings__item__status__text
                                    | Евгения, 25 лет
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                                    .rating
                                        .rating__state
                                            .rating__state-val(style="width:80%;")
                        
                        .my-meetings__item__responses
                                        
                include ../generic/pagination.pug
                
        .sidebar
            include ../blocks/control-bar.pug