include ../generic/mixins.pug

.page.page__user.page__user--edit
    .layout
        .maincolumn
            .user.user--edit
                .layout--inner
                    h2.h2.user__header
                        | Редактирование профиля
                    .user__header.user__header--back.mobile-visible
                        .icon.icon__arrow-left
                        | Редактировать
                
                .user__tabs
                    .user__tabs__titles
                    
                        mixin user__tabs__titles__item(title,active)
                            - active = active || ""
                            div(class="user__tabs__titles__item"+active)
                                .layout--inner
                                    =title
                        +user__tabs__titles__item("Основная информация", " active")
                        +user__tabs__titles__item("Фото")
                        +user__tabs__titles__item("Услуги")
                        +user__tabs__titles__item("Настройки аккаунта")
                        +user__tabs__titles__item("Уведомления")
               
                    .user__tabs__content
                        .user__tabs__content__item
                            .layout--inner
                                .user__tabs__content__item__header
                                    span    
                                        | Основная информация
                                    span.icon.icon__wrapper.icon__edit--big
                                        span.icon.icon__edit--big
                                        span.icon.icon__edit--big--pink        
                                .user__tabs__content__item__header--back.mobile-visible
                                    .icon.icon__arrow-left
                                    span    
                                        | Основная инф.
                                    a.user__tabs__content__item__header__save(href="javascript:")
                                        | Сохр.
                                    
                            .user__tabs__content__item__body
                            
                                mixin form-field__container(title)
                                    label.form-field__container
                                        .layout--inner
                                            .form-field__title
                                                =title
                                            .form-field__field.disabled
                                                .form-field__field__item
                                                    input(type="text" value=title disabled)
                                                
                                +form-field__container("Имя")
                                +form-field__container("Дата рождения")
                               
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Пол
                                        .form-field__field.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    - list = ["Женский", "Мужской"]
                                                    .select__wrapper
                                                        select(disabled)
                                                            for val in list
                                                                option(value=val)
                                                                    =val
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Рост
                                        .form-field__field.form-field__field--age.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    input(type="text" value="185" style="width: 50px;")
                                                .form-field__field__item
                                                    p
                                                        | см
                                                        
                            .user__tabs__content__item__bottom
                                .button.button--default
                                    | Сохранить
                                .button.button--default.button--default--white
                                    | Отменить
                            
                            
                        .user__tabs__content__item.user__tabs__content__item--edit
                            .layout--inner
                                .user__tabs__content__item__header
                                    span    
                                        | Фото
                                        span.icon.icon__wrapper.icon__edit--big
                                    a.link(href="javascript:")
                                        | Удалить аватар
                                .user__tabs__content__item__header--back.mobile-visible
                                    .icon.icon__arrow-left
                                    span    
                                        | Фото
                                        
                            .user__tabs__content__item__body
                                .layout--inner
                                    .user__photo-gallery
                                        .scrollbar.bottom
                                            .track
                                                .thumb
                                                    .end
                                        .viewport
                                            .overview
                                                .user__photo-gallery__item.col-item.user__photo-gallery__add-photo
                                                    .icon.icon__add-image--white
                                                    span
                                                        | Добавить фото
                                                        
                                                .user__photo-gallery__item.col-item.user__photo-gallery__item--ava
                                                    .user__photo-gallery__item__img__wrapper
                                                        img(src="/img/girl__temp.png")
                                                    .user__photo-gallery__item__ava
                                                        .icon.icon__ava--active
                                                    .user__photo-gallery__item__menu.popup.popup--arrow
                                                        span.icon.icon__image-menu
                                                        ul.popup__content
                                                            li
                                                                a(href="javascript:")
                                                                    span.icon.icon__wrapper.icon__del--no-disk
                                                                        span.icon.icon__del--no-disk
                                                                        span.icon.icon__del--no-disk--pink
                                                                    | Удалить фото
                                                            li
                                                                a(href="javascript:")
                                                                    span.icon.icon__wrapper.icon__ava--make
                                                                        span.icon.icon__ava--make
                                                                        span.icon.icon__ava--make--pink
                                                                    | Сделать аватаром
                                                
                                                mixin photo()
                                                    .user__photo-gallery__item.col-item
                                                        .user__photo-gallery__item__img__wrapper
                                                            img(src="/img/girl__temp.png")
                                                        .user__photo-gallery__item__ava
                                                            .icon.icon__ava--active
                                                        .user__photo-gallery__item__menu.popup.popup--arrow
                                                            span.icon.icon__image-menu
                                                            ul.popup__content
                                                                li
                                                                    a(href="javascript:")
                                                                        span.icon.icon__wrapper.icon__del--no-disk
                                                                            span.icon.icon__del--no-disk
                                                                            span.icon.icon__del--no-disk--pink
                                                                        | Удалить фото
                                                                li
                                                                    a(href="javascript:")
                                                                        span.icon.icon__wrapper.icon__ava--make
                                                                            span.icon.icon__ava--make
                                                                            span.icon.icon__ava--make--pink
                                                                        | Сделать аватаром
                                                +photo()
                                                +photo()
                                                +photo()
                                                +photo()
                                                +photo()
                                            
                                
                                .user__tabs__content__item__bottom
                                    .button.button--default.user__tabs__content__item__bottom__save
                                        | Сохранить
                                    .button.button--default.button--default--white.user__tabs__content__item__bottom__cancel
                                        | Отменить
                                    .layout--inner.mobile-visible
                                        .layout--inner
                                            .button.button--100.button--default.user__tabs__content__item__bottom__add-photo
                                                | Добавить фото
                            
                        .user__tabs__content__item
                            .layout--inner
                                .user__tabs__content__item__header
                                    span    
                                        | Услуги
                                    span.icon.icon__wrapper.icon__edit--big
                                        span.icon.icon__edit--big
                                        span.icon.icon__edit--big--pink
                                .user__tabs__content__item__header--back.mobile-visible
                                    .icon.icon__arrow-left
                                    span    
                                        | Услуги        
                                    
                            .user__tabs__content__item__body
                            
                        .user__tabs__content__item
                            .layout--inner
                                .user__tabs__content__item__header
                                    span    
                                        | Настройки аккаунта
                                    span.icon.icon__wrapper.icon__edit--big
                                        span.icon.icon__edit--big
                                        span.icon.icon__edit--big--pink
                                .user__tabs__content__item__header--back.mobile-visible
                                    .icon.icon__arrow-left
                                    span    
                                        | Настройки
                                    a.user__tabs__content__item__header__save(href="javascript:")
                                        | Сохр.
                                    
                            .user__tabs__content__item__body
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | E-mail
                                        .form-field__field.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    input(type="text" value="asdf@gmail.com" disabled)
                                                    
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Пароль
                                        .form-field__field.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    input(type="password" value="cdsaasdcvda" disabled)
                                                .form-field__field__item.form-field__text
                                                    span
                                                        | Пароль должен содержать как минимум 
                                                        br
                                                        |6 латинских символов и одну цифру
                                                    
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Подтвердите пароль
                                        .form-field__field.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    input(type="password" value="cdsaasdcvda" disabled)
                                                .form-field__field__item.form-field__text
                                                    span.error
                                                        | Пароли не совпадают!
                                                    
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Телефон
                                        .form-field__field.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    input(type="text" value="+7(999) 555 - 55 - 55" disabled)
                                                .form-field__field__item.form-field__text.form-field__text--button
                                                    .button.button--default
                                                        | Отправить SMS-код
                                                    span
                                                        | На указанный Вами номер выслан 6-значный код
                                                    
                                label.form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Код подтверждения
                                        .form-field__field.disabled
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    input(type="text" disabled)
                                                
                                .form-field__container.user--edit__del-profile
                                    .form-field__title
                                        a.grey(href="javascript:")
                                            | Удалить профиль
                                            
                            .user__tabs__content__item__bottom
                                .button.button--default
                                    | Сохранить
                                .button.button--default.button--default--white
                                    | Отменить

                            
                        .user__tabs__content__item.user__tabs__content__item--table.user__tabs__content__item--edit
                            .layout--inner
                                .user__tabs__content__item__header
                                    span    
                                        | Уведомления
                                    span.icon.icon__wrapper.icon__edit--big.active
                                        span.icon.icon__edit--big
                                        span.icon.icon__edit--big--pink
                                .user__tabs__content__item__header--back.mobile-visible
                                    .icon.icon__arrow-left
                                    span    
                                        | Уведомления 
                                .user__tabs__content__item__header--back--table.mobile-visible
                                    .icon.icon__arrow-left
                                    span    
                                        | Уведомления 
                                    
                                    
                            .user__tabs__content__item__body
                                .form-field__container
                                    .form-field__title
                                    .form-field__field
                                        .form-field__field__item__row
                                            .form-field__field__item
                                                | SMS
                                            .form-field__field__item
                                                | E-MAIL
                                .form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Сообщения
                                        .form-field__field
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    +radiocheck("sms_messages", "SMS")
                                                .form-field__field__item
                                                    +radiocheck("email_messages", "E-mail")
                                
                                .form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Отклики
                                        .form-field__field
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    +radiocheck("sms_response", "SMS")
                                                .form-field__field__item
                                                    +radiocheck("email_response", "E-mail")
                                                
                                .form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Встреча истекла
                                        .form-field__field
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    +radiocheck("sms_meeting", "SMS")
                                                .form-field__field__item
                                                    label(class="radiocheck")
                                                        input(type="checkbox" name=email_meeting checked)
                                                        span
                                                            span
                                                                | E-mail
                                                
                                .form-field__container
                                    .layout--inner
                                        .form-field__title
                                            | Другие оповещения
                                        .form-field__field
                                            .form-field__field__item__row
                                                .form-field__field__item
                                                    +radiocheck("sms_other", "SMS")
                                                .form-field__field__item
                                                    +radiocheck("email_other", "E-mail")
                                                
                            .user__tabs__content__item__bottom
                                .button.button--default
                                    | Сохранить
                                .button.button--default.button--default--white
                                    | Отменить
                                    
                .user__overlay-photo
                    .user__photo-gallery__item__img__wrapper
                        img(src="/img/girl__temp.png")
                    .layout--inner
                        .user__photo-gallery__item__back
                            .icon.icon__arrow-left
                        .user__photo-gallery__item__ava
                            .icon.icon__ava--active
                        .user__photo-gallery__item__menu.popup.popup--arrow
                            span.icon.icon__image-menu
                            ul.popup__content
                                li
                                    a(href="javascript:")
                                        span.icon.icon__wrapper.icon__del--no-disk
                                            span.icon.icon__del--no-disk
                                            span.icon.icon__del--no-disk--pink
                                        | Удалить фото
                                li
                                    a(href="javascript:")
                                        span.icon.icon__wrapper.icon__ava--make
                                            span.icon.icon__ava--make
                                            span.icon.icon__ava--make--pink
                                        | Сделать аватаром
        
        .sidebar
            include ../blocks/control-bar.pug