include ../generic/mixins.pug
.page.page__my-meetings.page__my-meetings--man
    .layout
        .maincolumn
            .layout--inner
                .my-meetings__header
                    | Мои встречи
                .my-meetings__header.my-meetings__header--back
                    .icon.icon__arrow-left
                    | Просмотр встречи
                    .icon.icon__wrapper.icon__edit--big
                        .icon.icon__edit--big
                        .icon.icon__edit--big--pink
            .my-meetings__body
                .my-meetings__items
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--man.pug
                        include ../blocks/my-meetings__item__description--man--mobile.pug
                                
                        .my-meetings__item__status.my-meetings__item__status--search
                            .layout--inner 
                                .my-meetings__item__status__text
                                    | 5 откликов на данную встречу
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                                    a.grey.my-meetings__item__status__action__item.my-meetings__item__status__action__delete.mobile-visible(href="javascript:")
                                        | Удалить встречу
                        
                        .my-meetings__item__responses
                            .layout--inner
                                .my-meetings__item__responses__count.mobile-visible
                                    | Отклики
                                    span.my-meetings__item__responses__count__num
                                        | 3
                            include ../blocks/my-meetings__item__responses__item.pug
                            include ../blocks/my-meetings__item__responses__item.pug
                            include ../blocks/my-meetings__item__responses__item.pug
                            
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--man.pug
                        include ../blocks/my-meetings__item__description--man--mobile.pug
                                
                        .my-meetings__item__status
                            .layout--inner
                                .my-meetings__item__status__text
                                    | Откликов нет
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                        
                        .my-meetings__item__responses
                            
                    .my-meetings__item
                        
                        include ../blocks/my-meetings__item__description--man.pug
                        include ../blocks/my-meetings__item__description--man--mobile.pug
                                
                        .my-meetings__item__status.my-meetings__item__status--selected
                            .layout--inner
                                .my-meetings__item__status__text
                                    | Исполнитель выбран
                                .my-meetings__item__status__icon
                                .my-meetings__item__status__action
                        
                        .my-meetings__item__responses
                            include ../blocks/my-meetings__item__responses__item.pug
                                        
                include ../generic/pagination.pug
        
        .sidebar
            include ../blocks/control-bar.pug