section.main-nums
    .layout
        h1.h1.block__header
            span.color-pink Немного цифр
        .block__content
            mixin main-nums__item(icon, num, text)
                .main-nums__item
                    div(class="main-nums__item__icon icon " + icon)
                    div.main-nums__item__content
                        div.main-nums__item__num 
                            = num
                        div.h2.main-nums__item__text
                            = text
            +main-nums__item('icon__girls', '780', 'Девушек в системе')     
            +main-nums__item('icon__meetings', '14', 'Встреч сегодня')   
            +main-nums__item('icon__envelope', '1752', 'Встречи уже состоялось')