header.header.header--main
    .header__line
        div.layout
            div.header__inner
                a.header__logo(href="/")
                    img.header__logo__img(src="/img/logo.png" alt="titis.xxx")
                div.header__nav-block
                    div.header__nav-block__top
                        div.header__city
                            p.header__city__title 
                                | Ваш город:
                            div.header__city__list
                                p.header__city__current 
                                    | Москва
                                ul
                                    each val in ['Москва', 'Санкт-Петербург']
                                        li
                                            a(href="javascript:" title=val)= val
                        a.header__user.header__user__reg.open-modal(href="javascript:" data-modal-id="modal--reg")
                            span.icon.icon__reg
                            span.header__user__title
                                | Регистрация
                        a.header__user.header__user__login.open-modal(href="javascript:" data-modal-id="modal--login") 
                            span.icon.icon__login
                            span.header__user__title
                                | Вход
                    div.header__nav-block__bottom
                        nav.header__menu
                            a.icon.icon__nav(href="javascript:")
                            ul
                                each val in ['О проекте', 'Все встречи', 'Частые вопросы', 'Контакты']
                                    li
                                        a(href="javascript:" title=val)= val
    
    div.header__main
        .layout
            p.header__main__title
                | Здесь должен быть 
                span.color-pink Манящий заголовок
            p.header__main__subtitle
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                br
                | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            a.button.button--big.button--big--pink(href="javascript:")
                | Создать встречу
    a.header__main__arrow-down(href="javascript:")
        | Куда я попал и как это работает?
        span.icon.icon__arrow-down.animated.infinite.fadeInDown.long
        //bounceOutDown.long