section.main-about.about-block
    .layout
        h1.h1.block__header
            | titis.xxx 
            span.color-pink Расскажет Вам, как все это работает
        .block__content
            .col-item
                .main-about__video
                    img(src="/img/video-preview__temp.png")
            .col-item 
                .main-about__list
                
                    mixin main-about__list__item(icon, title, content)
                        .main-about__list__item
                            h2.h2.main-about__list__item__title
                                span(class="icon " + icon)
                                = title
                            .main-about__list__item__content
                                = content
                                
                    +main-about__list__item('icon__safe', 'Безопасность', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud')
                    +main-about__list__item('icon__person', 'Приватно', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud')
                    +main-about__list__item('icon__exciting', 'Волнующе', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud')