section.try-block
    .layout
        .try-block__inner
            .try-block__text
                p.try-block__text__top
                    | Попробуй 
                p.try-block__text__bottom
                    | и не пожалеешь!
            .try-block__button
                a.button.button--big(href="javascript:")
                    | Создать встречу