include pug/generic/head.pug

    body
        
        include pug/main/main-header.pug
        
        include pug/main/main-about.pug
        
        include pug/main/main-nums.pug
        
        include pug/main/try-block.pug

        include pug/generic/footer.pug