include pug/generic/head.pug

    body
        
        include pug/generic/header.pug
        
        include pug/generic/breadcrumbs.pug
        
        include pug/blocks/meeting-about.pug
        
        include pug/pages/page__meeting.pug

        include pug/generic/footer.pug