include pug/generic/head.pug

    body
        
        include pug/generic/header.pug
        
        include pug/generic/breadcrumbs.pug
        
        include pug/pages/page__user--view.pug

        include pug/generic/footer.pug