@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/proximanovabolditalic.woff2') format('woff2'),
         url('./ProximaNova/proximanovabolditalic.woff') format('woff'),
         url('./ProximaNova/proximanovabolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/proximanovabold.woff2') format('woff2'),
         url('./ProximaNova/proximanovabold.woff') format('woff'),
         url('./ProximaNova/proximanovabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/proximanovalightitalic.woff2') format('woff2'),
         url('./ProximaNova/proximanovalightitalic.woff') format('woff'),
         url('./ProximaNova/proximanovalightitalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/proximanovalight.woff2') format('woff2'),
         url('./ProximaNova/proximanovalight.woff') format('woff'),
         url('./ProximaNova/proximanovalight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/proximanovaregularitalic.woff2') format('woff2'),
         url('./ProximaNova/proximanovaregularitalic.woff') format('woff'),
         url('./ProximaNova/proximanovaregularitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'ProximaNova';
    src: url('./ProximaNova/proximanovaregular.woff2') format('woff2'),
         url('./ProximaNova/proximanovaregular.woff') format('woff'),
         url('./ProximaNova/proximanovaregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AndantinoScript';
    src: url('./AndantinoScript/andantinoscript.woff2') format('woff2'),
         url('./AndantinoScript/andantinoscript.woff') format('woff'),
         url('./AndantinoScript/andantinoscript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}