.control-bar
    .control-bar__title
        | Фильтрация
    .control-bar__buttons
        .layout--inner
            a.button.button--default.control-bar__buttons__item.control-bar__buttons__show-filter(href="javascript:")
                | Фильтры
            a.button.button--default.button--default--transp.control-bar__buttons__item.control-bar__buttons__off-filter(href="javascript:")
                | Отключить фильтр
    .control-bar__block.control-bar__move
        .layout--inner
            .control-bar__block__part.col-item
                p.control-bar__move__title
                    | Оплата:
                .select__container
                    +select(['10 000', '20 0000'])
                    .select__separator
                    +select(['10 000', '20 0000'])
                    
                p.control-bar__move__title
                    | Продолжительность
                .select__container
                    +select(['10 000', '20 0000'])
                    .select__separator
                    +select(['10 000', '20 0000'])
             
                p.control-bar__move__title
                    | Время встречи
                +select(['Любое', '19:00'])
            
                p.control-bar__move__title
                    | Место встречи            
                +radiocheck("place_meeting", "Место девушки")
                +radiocheck("place_meeting", "Отель")
                +radiocheck("place_meeting", "Квартира")
                +radiocheck("place_meeting", "Другое")
            
                p.control-bar__move__title
                    | Другие условия            
                +radiocheck("other_condition", "Обязательно не салон")
                +radiocheck("other_condition", "Только прямая встреча")
                +radiocheck("other_condition", "Встреча через менеджера")
            
                a.button.button--default(href="javascript:")
                    | Применить фильтр
                a.button.button--default.button--default--transp(href="javascript:")
                    | Очистить