.control-bar
    .control-bar__block.control-bar__data
        .layout--inner
            .icon.icon__wrapper.icon__edit--big.mobile-visible
                .icon.icon__edit--big
                .icon.icon__edit--big--pink
            .control-bar__data__img
                | <!-- img -->
            .control-bar__data__content
                .control-bar__data__content__name
                    | Александр, 28 лет
                .control-bar__data__content__city
                    | Москва
            .control-bar__rating
                span
                    | Рейтинг: 
                .rating
                    .rating__state
                        .rating__state-val(style="width:80%;")
            
    .control-bar__block.control-bar__move
        .layout--inner
            .layout--inner
                p
                    | Я хочу:
                +radiocheck("create_meeting", "Создавать встречи")
                +radiocheck("response_meeting", "Откликаться на встречи")
            
            .button.button--default.button--100
                | Создать встречу
                
            a.control-bar__logout-link.mobile-visible(href="javascript:")
                | Выйти
        
    .control-bar__block.control-bar__menu
        ul
            mixin control-bar__menu(icon, title, num, bb, active)
                - active = active || ""
                li(class="control-bar__menu__item"+ active)
                    a(href="javascript:")
                        span(class="icon icon__wrapper " + icon)
                            span(class="icon " + icon)
                            span(class="icon " + icon + "--pink")
                        span.control-bar__menu__item__title
                            =title
                            if bb
                                b
                                    =bb
                        if num
                            span.control-bar__menu__item__num
                                =num
            +control-bar__menu("icon__edit", "Редактировать профиль")
            +control-bar__menu("icon__heart", "Мои встречи", "4")
            +control-bar__menu("icon__time", "Архив встреч")
            +control-bar__menu("icon__message", "Мои сообщения", "8", "", " active")
            +control-bar__menu("icon__money", "Финансы: ", "","20 342 руб")
    .control-bar__block.control-bar__logout
        .layout--inner
            a(href="javascript:")
                .icon.icon__logout
                | Выйти