section.meeting-about.about-block
    .layout
        h1.h1.block__header
            | Осталось три простых шага до встречи
        .block__content
            .meeting-about__list   
                mixin meeting-about__list__item(num, title, content)
                    .meeting-about__list__item
                        p.meeting-about__list__item__num
                            = num
                        div.meeting-about__list__item__content
                            div.h1.meeting-about__list__item__title
                                = title
                            div.meeting-about__list__item__text
                                = content
                            
                +meeting-about__list__item('1', 'Ознакомьтесь', 'Внимательно прочитайте условия встречи')
                +meeting-about__list__item('2', 'Откликнитесь', 'Если все условия Вас устраивают - оставьте отклик')
                +meeting-about__list__item('3', 'Заказчик получит уведомление', 'В случае взаимного интереса, заказчик свяжется с вами, чтобы уточнить детали встречи')