include ../generic/mixins.pug

.modals.overlay
    form.modal#modal--reg
        .modal__inner
            .modal__title
                | Регистрация
            .modal__content__container
                .form-field__container
                    .form-field__field
                        .form-field__field__item
                            input(type="text" placeholder="Ваше имя")
                .form-field__container
                    .form-field__field
                        .form-field__field__item__row
                            .form-field__field__item
                                +select(["День", "1", "2"])
                            .form-field__field__item
                                +select(["Месяц", "Январь", "Февраль"])
                            .form-field__field__item
                                +select(["Год","1991", "1992"])
                .form-field__container
                    .form-field__field
                        .form-field__field__item
                            +select(["Город","Москва", "Санкт-Петербург"])
                .form-field__container
                    .form-field__field
                        .form-field__field__item
                            input(type="text" placeholder="Телефон")
                    .icon.icon__question--dark.popup
                        .popup__content
                            | Что-то
                            
                .button.button--100.button--default
                    | Зарегистрироваться
                
            p 
                | Уже зарегистрированы? 
                a.modal__link__login.open-modal(href="javascript:" data-modal-id="modal--login")
                    | Войти
                    
            p 
                | Продолжая, Вы подтверждаете, что прочитали и согласны с 
                a.grey(href="javascript:")
                    | Нашими условиями
        .modal__close
            .icon.icon__close--white
            
    form.modal#modal--login
        .modal__inner
            .modal__title
                | Вход
                
            .modal__content__container    
                .form-field__container
                    .form-field__field
                        .form-field__field__item
                            input(type="text" placeholder="Ваше имя")
                            
                .form-field__container
                    .form-field__field
                        .form-field__field__item
                            input(type="password" placeholder="Пароль")

                            
                .button.button--100.button--default
                    | Войти
                
            p 
                a.modal__link__fogot-pass(href="javascript:")
                    | Забыли пароль

        .modal__close
            .icon.icon__close--white
            
    form.modal#modal--response
        .modal__inner
            .modal__title
                | Отправить отклик
            .modal__img
                
            p.modal__name
                | Александр
                        
            p.modal__text
                | Ищу двух девушек сегодня на ночь
                
            p 
                a.modal__link__letter(href="javascript:")
                    | Написать сопроводительное письмо
            .modal__buttons       
                .button.button--default
                    | Отправить
                .button.button--default.button--default--gray
                    | Отмена
        .modal__close
            .icon.icon__close--white