.my-meetings__item__description.my-meetings__item__description--all
    .layout--inner
        .my-meetings__item__description__left
            .my-meetings__item__description__img
                | <!-- img -->
            .my-meetings__item__description__name
                | Иван
        .my-meetings__item__description__center
            a.my-meetings__item__description__title(href="javascript:")
                | Встречусь с девушкой в отеле
            .my-meetings__item__description__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                
            a.my-meetings__item__description__additional-link(href="javascript:")
                | Есть дополнительные требования
                
            a.button.button--default.button--default--disk(href="javascript:")
                | Откликнуться
                
        .my-meetings__item__description__right
            .button.button--tag.my-meetings__item__description__price
                | 30 000 руб.
            .my-meetings__item__description__duration
                | за 2 часа
            .my-meetings__item__description__time
                | Сегодня в 19:30
            .my-meetings__item__description__time-left
                | Через 3 часа 15 минут
            .my-meetings__item__description__place
                | Отель