.my-meetings__item__description.my-meetings__item__description--man.my-meetings__item__description--archive
    .layout--inner
        .my-meetings__item__description__center
            .my-meetings__item__description__title
                | Встречусь с девушкой в отеле
            .my-meetings__item__description__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur ... occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                
        .my-meetings__item__description__right
            .button.button--tag.my-meetings__item__description__price
                | 30 000 руб.
            .my-meetings__item__description__duration
                | за 2 часа
            .my-meetings__item__description__time
                | 22.03.15 19:30