.my-meetings__item__responses__item
    .layout--inner
        .my-meetings__item__responses__item__top
            .my-meetings__item__responses__item__data
                .my-meetings__item__responses__item__img
                    <!-- img -->
                .my-meetings__item__responses__item__name
                    | Евгения, 25 лет
                .my-meetings__item__responses__item__del.popup.popup--arrow
                    .icon.icon__wrapper.icon__del
                        .icon.icon__del
                        .icon.icon__del--pink
                    .popup__content
                        | Удалить
            .my-meetings__item__responses__item__actions
                a.button.button--default.button--default--disk.button--default--white(href="javascript:")
                    | Сообщение
                a.button.button--default.button--default--disk(href="javascript:")
                    | Выбрать исполнителем
        .my-meetings__item__responses__item__middle
            .my-meetings__item__responses__item__description
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur ... occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .my-meetings__item__responses__item__bottom
            .my-meetings__item__responses__item__gallery
                .my-meetings__item__responses__item__gallery__inner
                    .scrollbar.bottom
                        .track
                            .thumb
                                .end
                    .viewport
                        .overview
                
                            mixin my-meetings__item__responses__item__gallery__item(src)
                                .my-meetings__item__responses__item__gallery__item.col-item
                                    img(src=src)
                                    
                            +my-meetings__item__responses__item__gallery__item("/img/girl__temp.png")
                            +my-meetings__item__responses__item__gallery__item("/img/girl__temp.png")
                            +my-meetings__item__responses__item__gallery__item("/img/girl__temp.png")
                            +my-meetings__item__responses__item__gallery__item("/img/girl__temp.png")
                            +my-meetings__item__responses__item__gallery__item("/img/girl__temp.png")