.my-meetings__item__description.my-meetings__item__description--man.media-third
    .my-meetings__item__description__top-info
        span.my-meetings__item__description__top-info__time
            | Сегодня в 19:30
        span.my-meetings__item__description__top-info__time-left
            | Через 3 часа 15 минут
    .my-meetings__item__description__status
        span.my-meetings__item__description__status__text
            | Вы выбраны исполнителем
        span.my-meetings__item__description__status__icon
            | 3
    .my-meetings__item__description__content
        .layout--inner
            .my-meetings__item__description__content__subtitle
                | Создана 22.01.17 в 22:30
            .h1.my-meetings__item__description__content__title
                | Встречусь с девушкой в отеле
                
            .my-meetings__item__description__content__block
                .my-meetings__item__description__content__block__left
                    | Дата и время: 
                .my-meetings__item__description__content__block__right
                    | Сегодня в 19:30
                    
            .my-meetings__item__description__content__block
                .my-meetings__item__description__content__block__left
                    | Место встречи: 
                .my-meetings__item__description__content__block__right
                    | Отель
            
            .my-meetings__item__description__content__block
                .my-meetings__item__description__content__block__left
                    | Продолжительность: 
                .my-meetings__item__description__content__block__right
                    | 2 часа
                    
            .my-meetings__item__description__content__block
                .my-meetings__item__description__content__block__left
                    | Оплата за встречу: 
                .my-meetings__item__description__content__block__right
                    | 30 000 руб.
                    
            .my-meetings__item__description__content__block.my-meetings__item__description__content__comment
                .my-meetings__item__description__content__block__left
                    | Комментарий: 
                .my-meetings__item__description__content__block__right
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                
    .my-meetings__item__description__additional
        .my-meetings__item__description__additional__title
            | Дополнительные требования
        .my-meetings__item__description__additional__tags
            .layout--inner
                .button.button--tag
                    | 20 - 35 лет
                .button.button--tag
                    | грудь: 2-3 размер