

.footer {
    color: @color_white;

    .footer__top {
        padding: 20px 0;
        background-color: @color_black__default;
    
        .layout {
            .column2;
        }
        
        .footer__logo {
            display: inline-block;
            margin-top: 30px;
        }
        
        .footer__desc {
            width: 80%;
            margin-top: 50px;
        }
        
        .footer__for-users {
            float: left;
            width: 45%;
            margin-top: 30px;
        
            .footer__for-users__title {
                margin-bottom: 7px;
                font-weight: bold;
                text-transform: uppercase;
            }
            .footer__for-users__nav {
                li {
                    padding: 5px 0;
                
                    a {
                        color: @color_white;
                    }
                }
            }
        }
        
        .footer__subscribe {
            float: left;
            width: 55%;
            margin-top: 25px;
            padding: 20px 0;
            text-align: center;
            border: solid 5px @color_blue;
            border-top: 0;
            .box-sizing(border-box);
        
            .footer__subscribe__title {
                position: relative;
                top: -20px;
                width: 100%;
                height: 5px;
                color: @color_blue;
                background-color: @color_blue;
                
                span {
                    position: relative;
                    top: -32px;
                    padding: 0 5px;
                    font-family: 'AndantinoScript';
                    font-size: 40px;
                    background-color: @color_black__default;
                }
            }
            
            input {
                width: 260px;
                line-height: 35px;
                color: @color_black__default;
            }
            
            .footer__subscribe__subtitle {
                font-size: @font_size__min;
                line-height: @font_size__min + 1px;
            }
        }
    }
    
    .footer__bottom {
        background-color: @color_black__border;
        font-size: 13px;
        color: @color_blue__footer_text;
        
        .layout {
            .column2;
        }
        
        p {
            padding: 20px 0;
        }
        
        nav {
            text-align: right;
        
            ul {
                li {
                    display: inline-block;
                    
                    a {
                        line-height: 70px;
                        color: @color_blue__footer_text; 
                    }
                    
                    + li {
                        a {
                            &::before {
                                content: "|";
                                margin: 0 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: @media_step__first) {
    .footer {

        .footer__top {
            
            .footer__subscribe {
                input {
                    width: 225px;
                }
            }
            
        }
    }
}

@media only screen and (max-width: @media_step__second) {
    .footer {
        color: @color_white;

        .footer__top {
            .footer__logo {
                .footer__logo__img {
                    width: 173px;
                }
            }
        
            .footer__subscribe {
                display: none;
            }
            
            .footer__desc {
                margin-top: 20px;
            }
        }
        
        .footer__bottom {
            text-align: center;
            
            .layout {
                .column1;
            }
            
            nav {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: @media_step__third) {

    .footer { 

        .footer__top {
            padding: 20px 0;
            background-color: @color_black__default;
            text-align: center;
        
            .layout {
                .column1;
            }
            
            .footer__logo {
                
            }
            
            .footer__desc {
                display: none;
            }
            
            .footer__for-users {
                float: none;
                margin: 30px auto;
            
                .footer__for-users__title {
                    display: none;
                }
            }
        }
    }
}