* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: inherit; 
    color: inherit;
    outline: none !important;
}
body {
    background: @color_white;
    font-family: 'ProximaNova', sans-serif;
    font-size: @font_size;
    font-weight: lighter;
    line-height: 1.3;
    color: @color_black__default;
}

.placeholder__color(@color) {
    &::-webkit-input-placeholder {
      color: @color;
    }
    &::-moz-placeholder { 
      color: @color;
    }
    &:-ms-input-placeholder { 
      color: @color;
    }
    &:-moz-placeholder { 
      color: @color;
    }
}
input, textarea {
    width: 100%;
    outline: none; 
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'ProximaNova', sans-serif;
    .placeholder__color(#c9cacb);
    .box-sizing(border-box); 
    resize: none;
}
input {
    line-height: 35px;
    border: 1px solid @color_gray__border;
    color: @color_black__default;
    .rounded(2px);
    
    &:focus {
        border: 1px solid @color_pink__bg;
    }
}
select {
    width: 100%;
}
optgroup {
    font-weight: bold;
}
button { 
    outline: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    
    td, th {
        padding: 0;
    }
}
ul {
    list-style-type: none;
}
ol {
    padding-left: 17px;
}
b {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: @color_pink;
    .transition(color 0.3s ease);
    
    &.link {
        font-size: @font_size__min;
        text-decoration: underline;
    }
    
    &.grey {
        font-size: 15px;
        text-decoration: underline;
        color: #bbbcbd;
        
        &:hover, &:active, &:visited, &:focus {
            color: #bbbcbd;
            outline: none;
        }
    }
    
    &:active, &:visited, &:focus {
        color: @color_pink;
        outline: none;
    }
    
    &:hover {
        color: @color_pink;
    }
}
h1, .h1 {
    font-size: @font_size__h1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0 0 25px;
    
    small {
        margin-left: 25px;
        font-size: @font_size__min;
        color: @color_gray__text;
        font-weight: normal;
        text-transform: none;
    }
}
h2, .h2 {
    font-size: @font_size__h2;
    font-weight: bold;
    text-transform: uppercase;
    line-height: @font_size__h2;
    margin: 0 0 20px;
}
h3, .h3 {
    font-size: @font_size__h2;
}

.color-pink {
    color: @color_pink;
}

.error {
    .color-pink;
}

/* 
<span class="icon icon__wrapper icon__close">
    <span class="icon icon__close--black"></span>
</span>
 */
.icon__wrapper {
    display: block;
    position: relative;
    background: transparent;
    
    .icon {
        position: absolute;
        top: 0;
        left: 0;
        .transition(opacity 0.3s ease);
        
        &:first-child {
            
        }
        
        &:last-child {
            .opacity(0);
        }
    }
}
.icon {
    display: block;
    float: left;
    //margin-left: 5px;
    margin-right: 7px;
}

.button {
    display: inline-block;
    margin: 20px 0;
    padding: 0 20px;
    font-size: @font_size;   
    font-weight: bold;
    text-transform: uppercase;
    line-height: 35px; 
    background-color: @color_pink__bg;
    color: @color_white;
    cursor: pointer;
    .user-select();
    .transition(background-color 0.3s ease);
    
    &.button--100 {
        width: 100%;
    }
    
    &.button--default {
        line-height: 35px;
        text-align: center;
        box-shadow: inset 0 1px 1px 1px @color_pink__shadow;
        box-sizing: border-box;
        font-size: 17px;
        font-weight: lighter;
        text-transform: none;
        .rounded(3px);
        
        &.button--default--min {
            margin: 0 7px;
            padding: 0 7px;
            font-size: @font_size__micro;
            font-weight: lighter;
            line-height: 18px;
        }
        
        &.button--default--disk {
            width: auto;
            .rounded(20px);
            text-transform: none;
        }
        
        &.button--default--white {
            color: @color_black__default;
            background-color: @color_white;
            box-shadow: inset 0 1px 1px 1px @color_shadow;
        }
        
        &.button--default--gray {
            color: @color_black__default;
            background-color: @color_gray__border;
            box-shadow: inset 0 1px 1px 1px @color_shadow;
        }
        
        &.button--default--black {
            color: @color_white;
            background-color: @color_black__default;
            box-shadow: inset 0 1px 1px 1px @color_black;
        }
        
        &.button--default--transp {
            color: @color_black__default;
            background-color: transparent;
            box-shadow: none;          
            font-size: @font_size__min;
        }
    }
    
    &.button--big {
        padding: 0 30px;
        line-height: 60px;
        font-size: @font_size__max;
        background-color: @color_black__default;
        box-shadow: inset 0 -2px 1px 1px @color_black__border;
        .rounded(27px);
    
        &.button--big--pink {
            background-color: @color_pink__bg;
            box-shadow: inset 0 -2px 1px 1px @color_pink__border;
        }
    }
    
    &.button--small {
        display: block;
        margin: 0 auto;
        line-height: 35px;
        background-color: @color_black__default;
        .rounded(20px);
    
        &.button--small--pink {
            background-color: @color_pink__bg;
        }
    }
    
    &.button--tag {
        line-height: 30px;
        background-color: @color_black__default;
        text-transform: none;
        font-weight: normal;
        .rounded(5px);
        
        &.button--tag--pink {
            background-color: @color_pink__bg;
        }
    }
    
    &.button--status {
        padding: 0 12px;
        line-height: 35px;
        background-color: @color_pink__bg;
        text-transform: none;
        font-weight: normal;
        cursor: default;
        .rounded(2px);
        
        .icon {
            float: none;
            display: inline-block;
            margin: 0;
            left: 2px;
            position: relative;
        }
    }
    
    &.button-long {
        padding: 0 35px;
        line-height: 40px;
    }
    
    &.button-blue {
        color: @color_white;
        background-color: @color_pink;
    
        &:hover {
            background-color: @color_pink;
        }
    }
    
    &:hover {
        color: @color_white;
        //background-color: @color_pink;
    }
    
    &:active, &:visited, &:focus {
        color: @color_white;
    }
}

.form-field__container {
    margin: 10px 0;
    .clear;

    .form-field__title {
        float: left;
        width: 18%;
        margin-top: 8px;
        margin-right: 2%;
        font-size: 15px;
        font-weight: normal;
    }
    
    .form-field__field {
        float: left;
        width: 80%;
        
        &.form-field__field--age {
            .form-field__field__item {
                input {
                    width: 50px;
                }
            }
        }
        
        &.disabled {
            font-size: 15px;
            
            &.form-field__field--age {
                .form-field__field__item {
                    p {
                        margin: 9px 0 0 -30px;
                    }
                }
            }
        
            input {
                border: solid 1px transparent;
                background-color: transparent;
                cursor: text;
                font-size: 15px;
                
                &:focus {
                    border: 0;
                }
            }
            
            .form-field__field__item {
                &.form-field__text {
                    display: none;
                }
            }
            
            .select2-container--default.select2-container--disabled .select2-selection--single {
                border: solid 1px transparent;
                background-color: transparent;
                font-size: 15px;
                cursor: initial;
                .user-select(initial);
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                display: none;
            }
        }
    
        input {
            margin: 0;
            cursor: pointer;
        }
        
        .form-field__field__item__row {
            .clear;
        
            .form-field__field__item {
                float: left;
                margin-right: 20px;
                
                &.hidden {
                    input {
                        position: absolute;
                    }
                }
                
                &.form-field__text {
                    width: 55%;
                    padding-top: 5px;
                    
                    &.form-field__text--button {
                        width: 60%;
                        padding-top: 0;
                    
                        .button {
                            margin: 0;
                            line-height: 37px;
                        }
                        
                        span {
                            display: inline-block;
                            position: relative;
                            top: 6px;
                            left: 10px;
                            width: 46%;
                        }
                    }
                    
                    span.error {
                        position: relative;
                        top: 8px;
                    }
                }
                
                &:last-child {
                    margin-right: 0;
                }
                
                .radiocheck {
                    
                    margin-top: 8px;
                }
                
                select {
                    width: auto;
                    padding-right: 20px;
                }
                
                input {
                    width: auto;
                }
                
                p {
                    margin: 8px 0 0 -10px;
                }
            }
        }

    }
    
    .form-field__text {
        width: 43%;
        color: #a7a7a8;
        font-size: @font_size__min;
        font-style: italic;
        line-height: 13px;
    }
}

.hidden {
    display: none;
}
.media-first {
    .hidden;
}
.media-second {
    .hidden;
}
.media-third {
    .hidden;
}
.mobile-visible {
    .hidden;
}
.clear_into {
	display: block;
	clear: both;
	overflow: hidden;
}
.clear {
	&:after {
		content: "";
		.clear_into;
	}
}
.webkit-scroll {
    &::-webkit-scrollbar-track {border-radius: 4px;}
    &::-webkit-scrollbar {width: 6px; height: 6px;}
    &::-webkit-scrollbar-thumb {border-radius: 4px; background-color: @color_gray__bg; }
}

/* Xth colomn  */
.column_x(@num: 6, @margin-left: 2%) {    
    > .col-item, > .price__col {
        &:nth-child(n) {
			margin-left: @margin-left;
		}
    }

	> .col-item, > .price__col {
		float: left;
		width: (100% - @margin-left*(@num - 1))/@num;
        min-height: 1px;
        margin-right: 0;
		//margin-left: @margin-left;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:nth-child(@{num}n+1) {
			margin-left: 0;
		}
	}
	
	.clear;
}
.column1 {
    .column_x(@num: 1, @margin-left: 0%)
}
.column2 {
    .column_x(@num: 2, @margin-left: 2%)
}
.column3 {
    .column_x(@num: 3, @margin-left: 2%)
}
.column4 {
    .column_x(@num: 4, @margin-left: 2%)
}
.column5 {
    .column_x(@num: 5, @margin-left: 2%)
}

.shadow-top {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 50%;
        left: 10px;
        right: 10px;
        z-index: -2;
        .box-shadow(0 0 30px @color_gray__shadow);
        .rounded(50%);
    }
}
.shadow-bottom {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        z-index: -2;
        .box-shadow(0 0 15px @color_gray__shadow);
        .rounded(50%);
    }
}
.shadow-hor {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -5px;
        bottom: 80px;
        left: 0;
        right: 0;
        z-index: 0;
        .box-shadow(0 0 35px @color_gray__shadow);
        .rounded(10%);
    }
}

.layout {
    position: relative;
    //width: 100%;
    height: 100%;
    max-width: @page_width__max;
    margin: 0 auto;
    padding: 0 @layout_padding;
}

.phone-number {
    font-size: @font_size__h1;
    font-weight: bold;
    color: @color_pink__bg;
    
    &:hover, &:active, &:focus, &:visited {
        color: @color_pink__bg;
    }
    
    &:hover {
        color: @color_pink__bg;
    }
}
.breadcrumbs {
    .clear;
    padding: 10px 0;
    font-size: @font_size__min;
    background-color: @color_blue;
    
    li {
        float: left;
        
        &::before {
            content: "|";
            margin: 0 6px;
            color: @color_white;
        }
        
        &:first-child {
            &::before {
                display: none;
            }
        }
        
        span {
            .transition(color 0.3s ease);
            color: @color_gray__text;
        }
        
        a {
            span {
                color: @color_white;
            }
                
            &:hover {
                //color: @color_white;
                
                span {
                    color: @color_white;
                }
            }
        }
    }
}

.rating {
    display: inline-block;
    width: auto;
    line-height: 1;
    cursor: pointer;
    
    &.rating-big {
        .rating__state {
            width: 115px;
            background: url('/img/catalog__star.png');
  
            .rating__state-val {
                height: 17px;
                background: url('/img/catalog__star--active.png');
                
                &.rating__state-val__blue {
                    background: url('/img/catalog__star--active__blue.png');
                }
            }
        }
    }
    
    &.rating-small {
        .rating__state {
            width: 69px;
            height: 11px;
            background: url('/img/catalog__star.png');
            background-size: auto 100%;
  
            .rating__state-val {
                height: 11px;
                background: url('/img/catalog__star--active.png');
                background-size: auto 100%;
            }
        }
    }
  
    .rating__state {
        display: inline-block;
        width: 110px;
        background: url('/img/star.png');
        margin-bottom: 5px;
  
        .rating__state-val {
            width: 0%;
            height: 16px;
            background: url('/img/star--active.png');
        }
    }
    .link {
        display: inline-block;
        width: 100%;
    }
}
.rating__one-star {
    .rating.rating-small .rating__state .rating__state-val;
    display: inline-block;
    width: 13px;
}
.rating__five-stars {
    .rating.rating-small .rating__state .rating__state-val;
    display: inline-block;
    width: 69px;
}

.page-tmp(@maincolumn: @maincolumn_width__max, @sidebar: @sidebar_width__max, @side: right, @other_side: left) {
    .clear;

    @maincolumn_width: 100%*@maincolumn/@page_width__max;
    @sidebar_width: 100%*@sidebar/@page_width__max;
    .maincolumn {
        float: left;
        width: @maincolumn_width;
        max-width: @maincolumn;
    }
    .sidebar {
        float: left;
        width: @sidebar_width;
        max-width: @sidebar;
        margin-@{side}: 100% - (@maincolumn_width + @sidebar_width);
        margin-@{other_side}: 0;
    }
    @media only screen and (max-width: @media_step__second) { 
        .maincolumn {
            width: 100%;
            max-width: none;
        }
        .sidebar {
            width: 100%;
            max-width: none;
            margin-left: 0;
            margin-right: 0; 
        }
    }
}
.page {
    .page-tmp();
}

.popup {
    position: relative;
    cursor: pointer;

    &:hover {
        .popup__content {
            display: block;
        }
    }

    .popup__content {
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        width: 195px;
        padding: 10px;
        background-color: @color_gray__shadow;
        .rounded(5px);
        font-size: 12px;
        font-style: italic;
        font-weight: normal;
        color: @color_black__default;
        z-index: 1;
    }
    
    &.popup--arrow {
        .popup__content {
            position: absolute;
            top: 45px;
            width: auto;
            padding: 0 25px;
            background-color: @color_white;
            font-size: @font_size__min;
            line-height: 35px;
            font-style: normal;
            .box-shadow(0 3px 5px 1px @color_gray__bg);
            
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: -20px;
                margin-left: 17px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 10px 9px 10px 9px;
                border-color: transparent transparent @color_white transparent;
            }
        }
    }
}

.arrow {
    &::after {
        content: '';
        display: inline-block;
        position: relative;
        margin-left: 7px;
        width: 0px;
        height: 0px;
    }
    
    &.arrow--down {
        &::after {
            top: 5px;
            border-style: solid;
            border-width: 6px 4.5px 6px 4.5px;
            border-color: @color_pink transparent transparent transparent;
        }
    }
    
    &.arrow--up {
        &::after {
            top: -2px;
            border-style: solid;
            border-width: 6px 4.5px 6px 4.5px;
            border-color: transparent transparent @color_pink transparent;
        }
    }
}

.about-block {
    position: relative;
    padding: 50px 0;
    background: url('/img/main-about__bg.png');
    box-shadow: 0 3px 3px 2px @color_gray__bg, inset 0 0 200px 80px @color_gray__shadow;
    z-index: 1;
    
    .block__header {
        margin-bottom: 45px;
        text-align: center;
    }
}

.more-link {
	display: block;
	position: relative;
    margin: 30px 0;
	padding-left: 20px;
    box-sizing: border-box;
    
    &.more-link__plus {
        padding-left: 15px;
        
        &::after {
            content: "+";
        }
        
        &.show {
            &::after {
                content: "";
            }
        }
    }
	
	&::after {
		content: ">";
		position: absolute;
		top: 0;
		left: 0;
	}
}
.scrollbar__wrapper {
    position: relative;

    .scrollbar {
        //float: right;
        position: absolute;
        right: 15px;
        z-index: 1;
        
        &.bottom {
            right: 0;
            bottom: 20px;
        }
    
        .track {
            .rounded(4px);
            .thumb {
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: @color_gray__bg;
                .rounded(4px);
            
                .end {
                    
                }
            }
        }
    }
    .viewport {
        position: relative;
        overflow: hidden;
    
        .overview {
            position: absolute;
            width: 100%;
        }
    }
}

.pagination {
    margin-bottom: 35px;

    a {
        .button;
        .button--default;
        .user-select();
        margin-top: 0;
        padding: 0 15px;
        background-color: @color_gray__shadow;
        box-shadow: inset 0 1px 1px 1px #eceeef;
        font-weight: normal;
        font-size: @font_size__min;
        margin-right: 10px;
        color: @color_black__default;
        .transition(border-color 0.3s ease);
        
        &:hover, &:focus, &:active, &:visited {
            color: @color_black__default;
        }
        
        &.disabled {
            cursor: default;
        }
        
        &.active {
            background-color: @color_pink__bg;
            box-shadow: inset 0 1px 1px 1px @color_pink__shadow;
            color: @color_white;
        }
        
        &.prev, &.next {
            color: @color_pink;
        }
    }
    
    .dots {
        .button;
        .button--default;
        .user-select();
        margin-top: 0;
        padding: 0 15px;
        background-color: @color_gray__shadow;
        box-shadow: inset 0 1px 1px 1px #eceeef;
        font-weight: normal;
        font-size: @font_size__min;
        margin-right: 10px;
        color: @color_black__default;
        
        &:hover, &:focus, &:active, &:visited {
            color: @color_black__default;
        }
    
        &::after {
            content: "...";
        }
    }
}

.flag(@left_minus: 13px, @padding: 30px) {
    .button;
    position: relative;
    left: 0 - @padding;
    margin: 15px 0 0;
    padding-left: @padding;
    line-height: 30px;
    font-weight: normal;
    text-transform: none;
    cursor: default;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -(@left_minus);
        border: solid 15px transparent;
        border-right-width: @left_minus;
        border-left-width: 0;
        border-top-color: @color_pink__bg;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: -(@left_minus);
        border: solid 15px transparent;
        border-right-width: @left_minus;
        border-left-width: 0;
        border-bottom-color: @color_pink__bg;
    }
}
.flag {
    .flag();
}

/* radio , checkbox */
/* <label class="radiocheck">
	<input type="radiocheck">
	<span>ѕереключатель</span>
</label> */
.radiocheck {
    @border_color: @color_gray__border;
    @color_inside__check: @color_pink;
    @color_inside__radio: @color_pink;
    @height__check: 20px;
    @height__radio: 20px;
    .additional__check {
    
        + span::after {
			margin-right: 0px;
		}
        
        &:checked + span::after {
			.icon__check-mark--pink;
            
            position: absolute;
            top: 3px;
            left: 2px;
		}
        
        &:checked + span::before {
            background-color: @color_white;
		}
    }
    .additional__radio {
        + span::before {
			margin-top: -2px;
		}
    
        + span::after {
			margin-right: 0px;
		}
    
        &:checked + span::after {
            .button;
            .button--default;
            position: absolute;
            top: 3px;
            left: 5px;
            width: 12px;
            height: 12px;
            margin: 0;
            padding: 0;
            .rounded(50%);
            .transition(none);
		}
        
        &:checked + span::before {
            background-color: @color_white;
		}
    }

    display: block;    
    cursor: pointer;
    .user-select();

	.action_disk(@height: @height__radio , @border_color: @border_color) {
		width: @height;
		height: @height;
		background: #ffffff;
		border: solid 1px @border_color;
		.rounded(50%);
		outline: none;
		cursor: pointer;
	}
	.action_square(@height: @height__check , @border_color: @border_color) {
		width: @height - 3;
		height: @height - 3;
		background: #ffffff;
		border: solid 1px @border_color;
		outline: none;
		cursor: pointer;
	}
    .action_slide(@width: 70px, @border_color: @border_color) {
        display: block;
        position: relative;
        width: @width;
        height: 24px;
        border: solid 1px @border_color;
        border-radius: 15px;
        background-color: @color_gray_background;
        .transition(background-color 0.3s ease);
        
        &::before {
            content: "Нет";
            display: block;
            position: absolute;
            top: -1px;
            left: -1px;
            width: @width*4/7;
            height: 24px;
            border: solid 1px @border_color;
            border-radius: 15px;
            text-align: center;
            background: #fff;
            line-height: 22px;
            color: @color_gray;
            font-weight: normal;
            .transition(left 0.3s ease);
        }
    }

	/* radio */
	input[type="radio"] {
		display: none;
		
		+ span {
			&::before {
				.action_disk;
			}
		}

		&:checked + span::before {
			background: @color_inside__radio;
			.box-shadow(inset 0 0 0 3px #ffffff);
		}
        
        &:checked + .action_slide {
            //если action_slide
            &::before {
                //content: "Да";
                left: 39px;
            }
        }
        
        .additional__radio;
	}
	/* checkbox */
	input[type="checkbox"] {
		display: none;
        
		
		+ span {
			&::before {
				.action_square;
			}
		}

		&:checked + span::before {
			background: @color_inside__check;
			.box-shadow(inset 0 0 0 1px #ffffff);
		}
        
        &:checked + .action_slide {
            //если action_slide
            &::before {
                //content: "Да";
                left: 29px;
            }
        }
        
        .additional__check;
	}
	
	span {
        display: inline-block;
		position: relative;
        
        span {
            display: inline;
            
            &::before, &::after {
                display: none;
            }
        }
        
        &::after {
			content: "";
			display: block;
			float: left;
			margin-right: 10px;
		}
		
		&::before {
			content: "";
			display: block;
			float: left;
			margin-right: 10px;
		}
	}
}

.content__wrapper {
    
}
.content {
    padding: 30px;
    background-color: @color_gray__shadow;

    h2, .h2 {
        margin-bottom: 20px;
    }
    h3, .h3 {
        margin-bottom: 20px;
    }
    img {
        max-width: 100%;
        margin: 20px;
        
        &[align="left"] {
            margin-left: 0;
        }
        &[align="right"] {
            margin-right: 0;
        }
    }
    ul {
        list-style-type: disc;
        margin-bottom: 20px; 
        padding-left: 25px;
    }
    
    p {
        margin-bottom: 20px;
    }
    
    &.content__hide-block {
        .content__inner {
            .content__hidden {
                display: none;
            }
        }
        
        .more-link {
            margin-top: 15px;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 34, 58, 0.9);
    z-index: 5;
    
    &.transparent {
        background-color: rgba(2, 34, 58, 0);
    }
}

.modal {
    display: none;
    position: relative;
    max-width: 450px;
    margin: 40px auto 0;
    padding: 30px;
    background: @color_white;
    .box-sizing(border-box);
    
    .modal__inner {
        padding: 30px 20px;
        border: solid 5px @color_gray__border;
        
        .modal__content__container {
            max-width: 280px;
            margin: 0 auto;
        }
    }
    
    .modal__close {
        position: absolute;
        top: 23px;
        right: 23px; 
        width: 20px;
        height: 20px;
        background-color: @color_gray__border;
        z-index: 6;
        cursor: pointer;
        
        .icon {
            position: relative;
            top: 6px;
            left: 6px;
        }
    }
    
    .modal__title {
        margin-bottom: 15px;
        font-size: @font_size__h1;
        text-transform: none;
        text-align: center;
    }
    
    .form-field__container {
        position: relative;
    
        .form-field__field {
            width: 100%;
            
            input {
                .placeholder__color(@color_black__default);
            }
            
            .form-field__field__item__row {
                .form-field__field__item {
                    margin-right: 7px;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        
        .popup {
            position: absolute;
            top: 8px;
            right: -35px;
        }
    }
    
    .modal__img {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        background-color: @color_gray__border;
        .rounded(50%);
    }
    
    .modal__name {
        margin-top: 10px;
        font-weight: normal;
    }
    
    .modal__text {
        width: 100%;
        padding: 10px 20px;
        background-color: #f7f9fa;
        font-weight: normal;
        .box-sizing(border-box);
    }
    
    .modal__buttons {
        text-align: center;
    }
    
    p {
        margin-bottom: 10px;
        font-weight: lighter;
        text-align: center;
        font-size: @font_size__min;
        
        .grey {
            color: @color_black__border;
            font-size: inherit;
        }
        
        &.modal__error {
            display: none;
            color: @color_red;
            
            &.show {
                display: block;
            }
        }
        
        .modal__link__letter {
            font-size: 15px;
            text-decoration: underline;
        }
    }
    
    .custom-select__pseudo {
        margin-bottom: 5px;
        cursor: initial;
        
        &.input__error {
            border-color: @color_red;
            color: @color_red;
            .placeholder__color(@color_red);
        }
    }
    
    &.modal___success {
        color: @color_white;
        .box-shadow(0 2px 10px @color_black__default);
        
        .callback__icon__ok {
            margin: 0 auto 10px;
        }
        
        .sidebar__filter {
            background-color: #009fd9;
        }
        
        .text-min {
            font-size: 12px;
        }
    }
}
////// 


@media only screen and (max-width: @media_step__first) {
    .media-first {
        display: block;
    }
}
@media only screen and (max-width: @media_step__second) { 

    .layout {
        position: relative;
        height: 100%;
        max-width: @page_width__max__second;
        margin: 0 auto;
        padding: 0 @layout_padding;
    }

    .layout--inner {
        .layout;
    }
    
    .pad-hidden {
        .hidden;
    }
    
    .media-second {
        display: block;
    }

    .section__header {
        .section__header-title {
            text-align: center;
        }
    }
    
    .page {
        .layout {
            padding: 0;
            max-width: initial;
        }
    
        .maincolumn {
            width: 100%;
            max-width: none;
        }
        .sidebar {
            width: 100%;
            max-width: none;
            margin-left: 0;
            margin-right: 0; 
        }
    }
    
    .pagination {
        text-align: center;
    }
    
}

@media only screen and (max-width: @media_step__third) {

    .layout {
        max-width: @page_width__max__third;
    }
    
    .layout--inner {
        max-width: @page_width__max__third;
    }
    
    .mobile-hidden {
        .hidden;
    }
    
    .breadcrumbs {
        display: none;
    }
    
    .media-third {
        display: block;
    }
    
    .mobile-visible {
        display: block;
    }

    .breadcrumbs {
        display: none;
    }
    
}
