.header {
    @height: 130px;
    
    position: relative;
    height: 130px;
    background-color: @color_black__default;

    &.header--main {
        height: 480px;
        padding-bottom: 65px;
        background-color: @color_gray__bg_main;
        background-image: url('/img/main__bg.png');
        background-repeat: no-repeat;
        background-position: top 25px right 10%;
        
        .header__inner {
            .header__nav-block {
                .header__nav-block__top {
                    padding-bottom: 20px;
                }
            }
        }
        
        .header__main {
            text-align: center;
            
            .header__main__title {
                margin: 0 auto;
                margin-bottom: 30px;
                font-size: 35px;
                font-weight: bold;
                text-shadow: 0 4px 1px @color_black;
                text-transform: uppercase;
                color: @color_white;
            }
            .header__main__subtitle {
                margin: 0 auto;
                margin-bottom: 45px;
                font-size: @font_size__min;
                color: @color_white;
            }
        }
        
        .header__main__arrow-down {
            @width: 243px;
        
            display: block;
            position: absolute;
            bottom: 45px;
            left: 50%;
            width: @width;
            margin-left: -(@width/2);
            color: @color_pink;
            text-align: center;
            .box-sizing(border-box);
            
            span {
                float: none;
                margin: 15px auto 0;
            }
        }
    }
    
    .header__inner {
        width: 100%;
        height: @height;
        
        .header__logo {
            float: left;
            width: 235px;
            margin-top: 35px;
            
            .header__logo__img {
                float: left;
            }
        }
        
        .header__nav-block {
            float: right;
            width: 580px;
            margin-top: 28px;
        
            .header__nav-block__top {
                margin-bottom: 20px;
                padding-bottom: 13px;
                border-bottom: solid 1px @color_white;
                
                .clear;
            
                .header__city {
                    float: left;
                    
                    .header__city__title {
                        display: inline-block;
                        color: @color_white;
                    }
                    
                    .header__city__list {
                        display: inline-block;
                        position: relative;
                        margin-left: 10px;
                    
                        .header__city__current {
                            color: @color_pink;
                            cursor: pointer;
                            
                            .arrow;
                            .arrow--down;
                        }
                        
                        ul {
                            display: none;
                            position: absolute;
                            top: 41px;
                            right: -20px;
                            .box-shadow(1px 1px 10px 0px @color_black);
                            z-index: 2;
                            
                            &.open {
                                //display: block;
                            } 
                            
                            li {
                                float: none;
                                width: auto;
                                text-align: left;
                            
                                a {
                                    display: block;
                                    padding: 0 30px 0 20px;
                                    line-height: 40px;
                                    text-transform: none;
                                    font-weight: normal;
                                    border-top: solid 1px #252c36;
                                    color: @color_white;
                                    background-color: @color_black__default;
                                    white-space: nowrap;
                                    .transition(background-color 0.3s ease);
                                    
                                    &:hover {
                                        //font-weight: bold;
                                        .box-shadow(inset 0 4px 4px -1px #983353);
                                        background-color: @color_pink;
                                    }
                                }
                            } 
                        }
                    }
                }
                
                .header__user {
                    float: right;
                    cursor: pointer;
                    
                    &.header__user__reg {
                        margin-left: 30px;
                        
                        .icon {
                            margin-top: 1px;
                        }
                    }
                    
                    &.header__user__login {
                        margin-left: 30px;
                    }
                    
                    &.header__user__profile {
                        .arrow;
                        .arrow--down;
                    
                        .header__user__profile__photo {
                            display: inline-block;
                            width: 35px;
                            height: 35px;
                            margin-top: -8px;
                            margin-left: 40px;
                            background: url('/img/nophoto.png');
                            background-size: 35px 35px;
                            overflow: hidden;
                            .rounded(50%);
                        }
                    
                        .header__user__profile__menu {
                            display: inline-block;
                            position: relative;
                            
                            .header__user__profile__name {
                                color: @color_pink;
                                cursor: pointer;
                                
                                /* .arrow;
                                .arrow--down; */
                            }
                            
                            ul.header__user__profile__menu__list {
                                display: none;
                                position: absolute;
                                top: 41px;
                                right: -20px;
                                .box-shadow(1px 1px 10px 0px @color_black);
                                z-index: 2;
                                
                                &.open {
                                    //display: block;
                                } 
                                
                                li {
                                    float: none;
                                    width: auto;
                                    text-align: left;
                                
                                    a {
                                        display: block;
                                        padding: 0 30px 0 20px;
                                        line-height: 40px;
                                        text-transform: none;
                                        font-weight: normal;
                                        border-top: solid 1px #252c36;
                                        color: @color_white;
                                        background-color: @color_black__default;
                                        white-space: nowrap;
                                        .transition(background-color 0.3s ease);
                                        
                                        &:hover {
                                            //font-weight: bold;
                                            .box-shadow(inset 0 4px 4px -1px #983353);
                                            background-color: @color_pink;
                                        }
                                    }
                                } 
                            }
                        }
                    }
                    
                    &.header__user__messages {
                        position: relative;
                        
                        .header__user__messages__num {
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            min-width: 8px;
                            //height: 18px;
                            padding: 0 5px;
                            line-height: 18px;
                            color: @color_white;
                            background-color: @color_pink__bg;
                            font-size: 11px;
                            text-align: center;
                            .rounded(50%);
                        }
                    }
                }
            }
            
            .header__nav-block__bottom {
                .header__menu {
                    .icon__nav {
                        display: none;
                    }
                    
                    ul {

                        li {
                            //display: inline-block;
                            float: left;
                            width: 25%;
                            text-align: left;
                            
                            &:first-child {
                                
                            }
                            
                            &:last-child {
                                text-align: right;
                            }
                            
                            a {
                                color: @color_white;
                                text-transform: uppercase;
                                white-space: nowrap;
                                .transition(color 0s ease);
                                
                                &:hover {
                                    font-weight: bold;
                                    color: @color_pink;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}



@media only screen and (max-width: @media_step__first) {

    .header {
        
        .header__inner {
        
            .header__logo {
                
            }
            
            .header__menu {
                //width: 270px;
            }
        }
    }
    
}

@media only screen and (max-width: @media_step__second) {

    .header { 
        @height: 50px;
        
        height: @height;
        
        &.header--main {
            .header__line {
                .header__inner {
                    .header__nav-block {
                        //min-width: 400px;
                    }
                }
            }
        }
    
        .header__line {
            width: 100%;
            height: @height;
            background-color: @color_black__default;
            
            
            &::after {
                content: "";
                display: block;
                position: relative;
                top: -6px;
                width: 100%;
                height: 5px;
                background-color: @color_black__default;
                .box-shadow(0 4px 6px -1px @color_black);
                z-index: 3;
            }
            
            .header__inner {
                height: @height;
            
                .header__logo {
                    width: 125px;
                    height: 27px;
                    margin-top: 11px;
                    margin-left: 40px;
                    overflow: hidden;
                    
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 44px;
                        top: 10px;
                        width: 1px;
                        height: 30px;
                        background-color: @color_blue;
                    }
                    
                    .header__logo__img {
                        width: 100%;
                    }
                }
                
                .header__nav-block {
                    width: auto;
                    //min-width: 260px;
                    margin-top: 15px;
                    
                    .header__nav-block__top {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border: 0;
                        
                        .header__city {
                            .header__city__list {
                                ul {
                                    top: 35px;
                                }
                            }
                        }
                        
                        .header__user {
                            &.header__user__profile {
                                .header__user__profile__photo {
                                    position: relative;
                                    margin-right: 5px;
                                    border: solid 1px @color_pink;
                                    
                                    &::after {
                                        position: absolute;
                                        top: 10px;
                                        right: 0;
                                    }
                                }
                                .header__user__profile__name {
                                    display: none;
                                }
                                .header__user__profile__menu {
                                    ul.header__user__profile__menu__list {
                                        top: 19px;
                                    }
                                }
                            }
                            
                            &.header__user__messages {
                                display: none;
                            }
                            
                            .header__user__title {
                                display: none;
                            }
                        }
                    }
                    
                    .header__nav-block__bottom {
                        .header__menu {
                            position: absolute;
                            top: 13px;
                            left: 10px;
                        
                            .icon__nav {
                                display: block;
                            }
                            ul {
                                display: none;
                                position: absolute;
                                top: 37px;
                                right: -118px;
                                width: 250px;
                                .box-shadow(1px 1px 10px 0px @color_black);
                                z-index: 2;
                                
                                &.open {
                                    //display: block;
                                } 
                                
                                li {
                                    float: none;
                                    width: auto;
                                    text-align: left;
                                
                                    a {
                                        display: block;
                                        padding-left: 100px;
                                        line-height: 40px;
                                        text-transform: none;
                                        font-weight: normal;
                                        border-top: solid 1px #252c36;
                                        background-color: @color_black__default;
                                        .transition(color 0.3s ease);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .header__inner {

            .header__menu {
                //display: none;
            }
        }
        
        &.header--main {
            
            .header__main {
                @width: 597px;
            
                .header__main__title {
                    //width: @width;
                }
                .header__main__subtitle {
                    //width: @width;
                }
            }
            
            .header__main__arrow-down {
                @width: 297px;
            
                width: @width;
                margin-left: -(@width/2);
                padding: 0 10px;
                font-size: @font_size__max;
                font-weight: normal;
                line-height: 35px;
                color: @color_white;
                border: solid 2px @color_white;
                .rounded(20px);
            
                .icon {
                    display: none;
                }
            }
        }
    }
    
}


@media only screen and (max-width: @media_step__third) {
    .header {
        .header__inner {
        
            .header__logo {
               
                
                .header__logo-img {
                    
                }
                
                .header__logo-title {
                    

                }
                
            }
            
            .header__nav-block {
                min-width: initial; 
                .header__nav-block__top {
                    .header__city {
                        display: none;
                    }
                    
                    .header__user {
                        .header__user__title {
                            display: none;
                        }
                    }
                }
            }
        
        }
    }

}