.main-about {
    
    .block__content {
        .column_x(@num: 2, @margin-left: 7%);
        
        .main-about__video {
            position: relative;
            cursor: pointer;
            .rounded(5px);
            box-shadow: 0 3px 3px 2px @color_black__default;
            overflow: hidden;
            
            img {
                display: block;
                width: 100%;
            }
            
            &::after {
                @width: 94px;
                
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: @width;
                height: @width;
                margin-top: -(@width/2);
                margin-left: -(@width/2);
                background: url('/img/play.png');
            }
        }
        
        .main-about__list {
            margin-top: 30px;
        
            .main-about__list__item {
                margin-top: 20px;
                
                &::before {
                    content: "";
                    display: block;
                    position: relative;
                    width: 120px;
                    height: 1px;
                    margin-bottom: 20px;
                    background: @color_pink__bg;
                }
                
                &:first-child {
                
                    &::before {
                        display: none;
                    }
                }
            
                .main-about__list__item__title {
                    margin-bottom: 10px;
                    
                    .icon {
                        &.icon__safe {
                            margin-top: -7px;
                        }
                        &.icon__person {
                            margin-top: -7px;
                        }
                    }
                }
                .main-about__list__item__content {
                    font-size: @font_size__min;
                }
            }
        }
    }
}

.main-nums {
    padding: 90px 0;
    
    .block__header {
        margin-bottom: 45px;
        text-align: center;
    }
    
    .block__content {
        //.column_x(@num: 3, @margin-left: 0%);
        //padding: 0 80px;
        text-align: center;
        
        .main-nums__item {
            display: inline-block;
            width: 30%;
            min-width: 280px;   
            
            .main-nums__item__icon {
                float: left;
            }
            .main-nums__item__content {
                float: left;
            
                .main-nums__item__num {   
                    margin: -11px 0;
                    font-size: 51px;
                    font-weight: bold;
                    text-align: left;
                }
                .main-nums__item__text {
                    font-size: @font_size__max;
                    color: @color_pink;
                    text-align: left;
                }
            }
        }
    }
}

.try-block {
    height: 150px;
    background: url('/img/try__bg__left.png') no-repeat top left, url('/img/try__bg__right.png') no-repeat top right;
    background-color: @color_pink;
    
    .try-block__inner {
        text-align: center;
    
        .try-block__text {
            display: inline-block;
            color: @color_white;
        
            .try-block__text__top {
                position: relative;
                left: -110px;
                font-family: 'AndantinoScript';
                font-size: 80px;
            }
            .try-block__text__bottom {
                .h2;
            }
        }
        .try-block__button {
            display: inline-block;
            vertical-align: text-bottom; 
        }
    }
}

.meeting-about {
    .block__content {
        .meeting-about__list {
            .clear;
        
            .meeting-about__list__item {
                .clear;
                float: left;
                position: relative;
                width: 30%;
                min-width: 210px;
                
                &:last-child {
                    width: 40%;
                }
            
                .meeting-about__list__item__num {
                    float: left;
                    font-size: 80px;
                    font-weight: bold;
                    line-height: 70px;
                    color: @color_pink;
                }
                .meeting-about__list__item__content {
                    margin-left: 60px;
                
                    .meeting-about__list__item__title {
                        margin-bottom: 0;
                        font-size: 22px;
                        color: @color_pink;
                    }
                    .meeting-about__list__item__text {
                        
                    }
                }
                
            }
        }
    }
}

@media only screen and (max-width: @media_step__first) {

    .main-nums {

        .block__content {

            .main-nums__item {
                width: auto;
            }
        }
    }

}


@media only screen and (max-width: @media_step__second) {

    .meeting-about {
        .block__content {
            .meeting-about__list {
                .clear;
            
                .meeting-about__list__item {
                    
                    &:last-child {
                        width: 40%;
                    }
                
                    .meeting-about__list__item__num {
                    
                    }
                    .meeting-about__list__item__content {
                    
                        .meeting-about__list__item__title {
                            line-height: 20px;
                            font-size: @font_size__max;
                        }
                        .meeting-about__list__item__text {
                            
                        }
                    }
                    
                }
            }
        }
    }
    
    .main-nums {

        .block__content {

            .main-nums__item {
                min-width: initial;
                
                &:first-child {
                    width: 240px;
                }
                
                &:nth-child(2) {
                    width: 210px;
                }
                
                &:last-child {
                    width: 308px;
                }
            
                .main-nums__item__icon {
                    margin-top: 2px;
                
                    &.icon__girls {
                        .icon__girls--second;
                    }
                    
                    &.icon__meetings {
                        .icon__meetings--second;
                    }
                    
                    &.icon__envelope {
                        .icon__envelope--second;
                    }
                }
                
                .main-nums__item__content {
                    .main-nums__item__num {
                        float: left;
                    }
                    
                    .main-nums__item__text {
                        position: relative;
                        left: 5px;
                        margin-top: 2px;
                        line-height: 20px;
                    }
                }
                
            }
        }
    }
    
}

@media only screen and (max-width: 740px) {
    .meeting-about {
        .block__header {
            display: none;
        }
    
        .block__content {
            .meeting-about__list {
            
                .meeting-about__list__item {
                    width: 100%;
                    margin-bottom: 20px;
                    
                    &:last-child {
                        width: 100%;
                    }
                    
                }
            }
        }
    }
}


@media only screen and (max-width: @media_step__third) {
    .main-about {
        .block__content {
            .column1;
            
        }
    }
    
    .try-block {
        height: 313px;
        background: url('/img/try__bg--mobile.png') no-repeat;
        background-color: @color_pink;
        background-size: cover;
        
        .try-block__inner {
        
            .try-block__text {
            
                .try-block__text__top {
                    position: relative;
                    left: initial;
                    margin-top: 30px; 
                }
            }
        }
    }
}