/* colors */
@color_white: #ffffff;
@color_shadow: #bbbcbc;

@color_black: #000000;
@color_black__default: #2b333e;
@color_black__border: #252a32;

@color_pink: #da3f70;
@color_pink__bg: #e54c7c;
@color_pink__border: #a63055;
@color_pink__shadow: #d23078;

@color_blue: #414d5e;
@color_blue__footer_text: #3c4451;

@color_gray__text: #8d8d8d;
@color_gray__bg: #e8e8e8;
@color_gray__bg_main: #2e2e2e;
@color_gray__shadow: #f4f5f6;
@color_gray__border: #e5e5e5;
@color_gray__text: #a0a0a0;

@color_red: red;

/* fonts */
@font_size__micro: 12px;
@font_size__min: 14px;
@font_size: 16px;
@font_size__max: 18px;
@font_size__title: 24px;
@font_size__h1: 25px;
@font_size__h2: 20px;
@font_size__h3: 18px;

/* magnitude */
@layout_padding: 10px;
@page_width__max: 1200px - @layout_padding*2;
@maincolumn_width__max: 880px;
@sidebar_width__max: 280px;

@page_width__max__second: 768px;
@page_width__max__third: 320px;


/* media */
@media_step__first: 1200px; //1200px(1165)
@media_step__second: 950px;
@media_step__third: 480px;

/* fonts */
@font_size__media_first: 2px;
@font_size__media_third: 8px;