/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-add-image-white-name: 'icon__add-image--white';
@icon-add-image-white-x: 0px;
@icon-add-image-white-y: 139px;
@icon-add-image-white-offset-x: 0px;
@icon-add-image-white-offset-y: -139px;
@icon-add-image-white-width: 32px;
@icon-add-image-white-height: 25px;
@icon-add-image-white-total-width: 227px;
@icon-add-image-white-total-height: 210px;
@icon-add-image-white-image: '/img/sprite.png';
@icon-add-image-white: 0px 139px 0px -139px 32px 25px 227px 210px '/img/sprite.png' 'icon__add-image--white';
@icon-add-image-name: 'icon__add-image';
@icon-add-image-x: 124px;
@icon-add-image-y: 108px;
@icon-add-image-offset-x: -124px;
@icon-add-image-offset-y: -108px;
@icon-add-image-width: 32px;
@icon-add-image-height: 25px;
@icon-add-image-total-width: 227px;
@icon-add-image-total-height: 210px;
@icon-add-image-image: '/img/sprite.png';
@icon-add-image: 124px 108px -124px -108px 32px 25px 227px 210px '/img/sprite.png' 'icon__add-image';
@icon-arrow-down-name: 'icon__arrow-down';
@icon-arrow-down-x: 154px;
@icon-arrow-down-y: 165px;
@icon-arrow-down-offset-x: -154px;
@icon-arrow-down-offset-y: -165px;
@icon-arrow-down-width: 21px;
@icon-arrow-down-height: 23px;
@icon-arrow-down-total-width: 227px;
@icon-arrow-down-total-height: 210px;
@icon-arrow-down-image: '/img/sprite.png';
@icon-arrow-down: 154px 165px -154px -165px 21px 23px 227px 210px '/img/sprite.png' 'icon__arrow-down';
@icon-arrow-left-name: 'icon__arrow-left';
@icon-arrow-left-x: 197px;
@icon-arrow-left-y: 140px;
@icon-arrow-left-offset-x: -197px;
@icon-arrow-left-offset-y: -140px;
@icon-arrow-left-width: 13px;
@icon-arrow-left-height: 19px;
@icon-arrow-left-total-width: 227px;
@icon-arrow-left-total-height: 210px;
@icon-arrow-left-image: '/img/sprite.png';
@icon-arrow-left: 197px 140px -197px -140px 13px 19px 227px 210px '/img/sprite.png' 'icon__arrow-left';
@icon-ava-active-name: 'icon__ava--active';
@icon-ava-active-x: 214px;
@icon-ava-active-y: 0px;
@icon-ava-active-offset-x: -214px;
@icon-ava-active-offset-y: 0px;
@icon-ava-active-width: 13px;
@icon-ava-active-height: 13px;
@icon-ava-active-total-width: 227px;
@icon-ava-active-total-height: 210px;
@icon-ava-active-image: '/img/sprite.png';
@icon-ava-active: 214px 0px -214px 0px 13px 13px 227px 210px '/img/sprite.png' 'icon__ava--active';
@icon-ava-make-pink-name: 'icon__ava--make--pink';
@icon-ava-make-pink-x: 197px;
@icon-ava-make-pink-y: 106px;
@icon-ava-make-pink-offset-x: -197px;
@icon-ava-make-pink-offset-y: -106px;
@icon-ava-make-pink-width: 16px;
@icon-ava-make-pink-height: 16px;
@icon-ava-make-pink-total-width: 227px;
@icon-ava-make-pink-total-height: 210px;
@icon-ava-make-pink-image: '/img/sprite.png';
@icon-ava-make-pink: 197px 106px -197px -106px 16px 16px 227px 210px '/img/sprite.png' 'icon__ava--make--pink';
@icon-ava-make-name: 'icon__ava--make';
@icon-ava-make-x: 197px;
@icon-ava-make-y: 72px;
@icon-ava-make-offset-x: -197px;
@icon-ava-make-offset-y: -72px;
@icon-ava-make-width: 16px;
@icon-ava-make-height: 16px;
@icon-ava-make-total-width: 227px;
@icon-ava-make-total-height: 210px;
@icon-ava-make-image: '/img/sprite.png';
@icon-ava-make: 197px 72px -197px -72px 16px 16px 227px 210px '/img/sprite.png' 'icon__ava--make';
@icon-bell-name: 'icon__bell';
@icon-bell-x: 197px;
@icon-bell-y: 0px;
@icon-bell-offset-x: -197px;
@icon-bell-offset-y: 0px;
@icon-bell-width: 16px;
@icon-bell-height: 20px;
@icon-bell-total-width: 227px;
@icon-bell-total-height: 210px;
@icon-bell-image: '/img/sprite.png';
@icon-bell: 197px 0px -197px 0px 16px 20px 227px 210px '/img/sprite.png' 'icon__bell';
@icon-check-mark-pink-name: 'icon__check-mark--pink';
@icon-check-mark-pink-x: 127px;
@icon-check-mark-pink-y: 193px;
@icon-check-mark-pink-offset-x: -127px;
@icon-check-mark-pink-offset-y: -193px;
@icon-check-mark-pink-width: 15px;
@icon-check-mark-pink-height: 12px;
@icon-check-mark-pink-total-width: 227px;
@icon-check-mark-pink-total-height: 210px;
@icon-check-mark-pink-image: '/img/sprite.png';
@icon-check-mark-pink: 127px 193px -127px -193px 15px 12px 227px 210px '/img/sprite.png' 'icon__check-mark--pink';
@icon-check-mark-white-name: 'icon__check-mark--white';
@icon-check-mark-white-x: 143px;
@icon-check-mark-white-y: 193px;
@icon-check-mark-white-offset-x: -143px;
@icon-check-mark-white-offset-y: -193px;
@icon-check-mark-white-width: 15px;
@icon-check-mark-white-height: 12px;
@icon-check-mark-white-total-width: 227px;
@icon-check-mark-white-total-height: 210px;
@icon-check-mark-white-image: '/img/sprite.png';
@icon-check-mark-white: 143px 193px -143px -193px 15px 12px 227px 210px '/img/sprite.png' 'icon__check-mark--white';
@icon-close-white-name: 'icon__close--white';
@icon-close-white-x: 214px;
@icon-close-white-y: 28px;
@icon-close-white-offset-x: -214px;
@icon-close-white-offset-y: -28px;
@icon-close-white-width: 9px;
@icon-close-white-height: 9px;
@icon-close-white-total-width: 227px;
@icon-close-white-total-height: 210px;
@icon-close-white-image: '/img/sprite.png';
@icon-close-white: 214px 28px -214px -28px 9px 9px 227px 210px '/img/sprite.png' 'icon__close--white';
@icon-del-no-disk-pink-name: 'icon__del--no-disk--pink';
@icon-del-no-disk-pink-x: 197px;
@icon-del-no-disk-pink-y: 160px;
@icon-del-no-disk-pink-offset-x: -197px;
@icon-del-no-disk-pink-offset-y: -160px;
@icon-del-no-disk-pink-width: 13px;
@icon-del-no-disk-pink-height: 15px;
@icon-del-no-disk-pink-total-width: 227px;
@icon-del-no-disk-pink-total-height: 210px;
@icon-del-no-disk-pink-image: '/img/sprite.png';
@icon-del-no-disk-pink: 197px 160px -197px -160px 13px 15px 227px 210px '/img/sprite.png' 'icon__del--no-disk--pink';
@icon-del-no-disk-name: 'icon__del--no-disk';
@icon-del-no-disk-x: 197px;
@icon-del-no-disk-y: 176px;
@icon-del-no-disk-offset-x: -197px;
@icon-del-no-disk-offset-y: -176px;
@icon-del-no-disk-width: 13px;
@icon-del-no-disk-height: 15px;
@icon-del-no-disk-total-width: 227px;
@icon-del-no-disk-total-height: 210px;
@icon-del-no-disk-image: '/img/sprite.png';
@icon-del-no-disk: 197px 176px -197px -176px 13px 15px 227px 210px '/img/sprite.png' 'icon__del--no-disk';
@icon-del-pink-name: 'icon__del--pink';
@icon-del-pink-x: 80px;
@icon-del-pink-y: 67px;
@icon-del-pink-offset-x: -80px;
@icon-del-pink-offset-y: -67px;
@icon-del-pink-width: 30px;
@icon-del-pink-height: 30px;
@icon-del-pink-total-width: 227px;
@icon-del-pink-total-height: 210px;
@icon-del-pink-image: '/img/sprite.png';
@icon-del-pink: 80px 67px -80px -67px 30px 30px 227px 210px '/img/sprite.png' 'icon__del--pink';
@icon-del-name: 'icon__del';
@icon-del-x: 62px;
@icon-del-y: 108px;
@icon-del-offset-x: -62px;
@icon-del-offset-y: -108px;
@icon-del-width: 30px;
@icon-del-height: 30px;
@icon-del-total-width: 227px;
@icon-del-total-height: 210px;
@icon-del-image: '/img/sprite.png';
@icon-del: 62px 108px -62px -108px 30px 30px 227px 210px '/img/sprite.png' 'icon__del';
@icon-edit-big-pink-name: 'icon__edit--big--pink';
@icon-edit-big-pink-x: 106px;
@icon-edit-big-pink-y: 165px;
@icon-edit-big-pink-offset-x: -106px;
@icon-edit-big-pink-offset-y: -165px;
@icon-edit-big-pink-width: 23px;
@icon-edit-big-pink-height: 23px;
@icon-edit-big-pink-total-width: 227px;
@icon-edit-big-pink-total-height: 210px;
@icon-edit-big-pink-image: '/img/sprite.png';
@icon-edit-big-pink: 106px 165px -106px -165px 23px 23px 227px 210px '/img/sprite.png' 'icon__edit--big--pink';
@icon-edit-big-name: 'icon__edit--big';
@icon-edit-big-x: 130px;
@icon-edit-big-y: 165px;
@icon-edit-big-offset-x: -130px;
@icon-edit-big-offset-y: -165px;
@icon-edit-big-width: 23px;
@icon-edit-big-height: 23px;
@icon-edit-big-total-width: 227px;
@icon-edit-big-total-height: 210px;
@icon-edit-big-image: '/img/sprite.png';
@icon-edit-big: 130px 165px -130px -165px 23px 23px 227px 210px '/img/sprite.png' 'icon__edit--big';
@icon-edit-pink-name: 'icon__edit--pink';
@icon-edit-pink-x: 18px;
@icon-edit-pink-y: 193px;
@icon-edit-pink-offset-x: -18px;
@icon-edit-pink-offset-y: -193px;
@icon-edit-pink-width: 17px;
@icon-edit-pink-height: 17px;
@icon-edit-pink-total-width: 227px;
@icon-edit-pink-total-height: 210px;
@icon-edit-pink-image: '/img/sprite.png';
@icon-edit-pink: 18px 193px -18px -193px 17px 17px 227px 210px '/img/sprite.png' 'icon__edit--pink';
@icon-edit-name: 'icon__edit';
@icon-edit-x: 0px;
@icon-edit-y: 193px;
@icon-edit-offset-x: 0px;
@icon-edit-offset-y: -193px;
@icon-edit-width: 17px;
@icon-edit-height: 17px;
@icon-edit-total-width: 227px;
@icon-edit-total-height: 210px;
@icon-edit-image: '/img/sprite.png';
@icon-edit: 0px 193px 0px -193px 17px 17px 227px 210px '/img/sprite.png' 'icon__edit';
@icon-envelope-second-name: 'icon__envelope--second';
@icon-envelope-second-x: 0px;
@icon-envelope-second-y: 67px;
@icon-envelope-second-offset-x: 0px;
@icon-envelope-second-offset-y: -67px;
@icon-envelope-second-width: 40px;
@icon-envelope-second-height: 40px;
@icon-envelope-second-total-width: 227px;
@icon-envelope-second-total-height: 210px;
@icon-envelope-second-image: '/img/sprite.png';
@icon-envelope-second: 0px 67px 0px -67px 40px 40px 227px 210px '/img/sprite.png' 'icon__envelope--second';
@icon-envelope-name: 'icon__envelope';
@icon-envelope-x: 66px;
@icon-envelope-y: 0px;
@icon-envelope-offset-x: -66px;
@icon-envelope-offset-y: 0px;
@icon-envelope-width: 62px;
@icon-envelope-height: 61px;
@icon-envelope-total-width: 227px;
@icon-envelope-total-height: 210px;
@icon-envelope-image: '/img/sprite.png';
@icon-envelope: 66px 0px -66px 0px 62px 61px 227px 210px '/img/sprite.png' 'icon__envelope';
@icon-exciting-name: 'icon__exciting';
@icon-exciting-x: 117px;
@icon-exciting-y: 139px;
@icon-exciting-offset-x: -117px;
@icon-exciting-offset-y: -139px;
@icon-exciting-width: 27px;
@icon-exciting-height: 21px;
@icon-exciting-total-width: 227px;
@icon-exciting-total-height: 210px;
@icon-exciting-image: '/img/sprite.png';
@icon-exciting: 117px 139px -117px -139px 27px 21px 227px 210px '/img/sprite.png' 'icon__exciting';
@icon-faq-arrow-name: 'icon__faq-arrow';
@icon-faq-arrow-x: 157px;
@icon-faq-arrow-y: 123px;
@icon-faq-arrow-offset-x: -157px;
@icon-faq-arrow-offset-y: -123px;
@icon-faq-arrow-width: 14px;
@icon-faq-arrow-height: 10px;
@icon-faq-arrow-total-width: 227px;
@icon-faq-arrow-total-height: 210px;
@icon-faq-arrow-image: '/img/sprite.png';
@icon-faq-arrow: 157px 123px -157px -123px 14px 10px 227px 210px '/img/sprite.png' 'icon__faq-arrow';
@icon-girls-second-name: 'icon__girls--second';
@icon-girls-second-x: 172px;
@icon-girls-second-y: 0px;
@icon-girls-second-offset-x: -172px;
@icon-girls-second-offset-y: 0px;
@icon-girls-second-width: 24px;
@icon-girls-second-height: 36px;
@icon-girls-second-total-width: 227px;
@icon-girls-second-total-height: 210px;
@icon-girls-second-image: '/img/sprite.png';
@icon-girls-second: 172px 0px -172px 0px 24px 36px 227px 210px '/img/sprite.png' 'icon__girls--second';
@icon-girls-name: 'icon__girls';
@icon-girls-x: 129px;
@icon-girls-y: 0px;
@icon-girls-offset-x: -129px;
@icon-girls-offset-y: 0px;
@icon-girls-width: 42px;
@icon-girls-height: 62px;
@icon-girls-total-width: 227px;
@icon-girls-total-height: 210px;
@icon-girls-image: '/img/sprite.png';
@icon-girls: 129px 0px -129px 0px 42px 62px 227px 210px '/img/sprite.png' 'icon__girls';
@icon-heart-big-pink-name: 'icon__heart--big--pink';
@icon-heart-big-pink-x: 61px;
@icon-heart-big-pink-y: 139px;
@icon-heart-big-pink-offset-x: -61px;
@icon-heart-big-pink-offset-y: -139px;
@icon-heart-big-pink-width: 27px;
@icon-heart-big-pink-height: 25px;
@icon-heart-big-pink-total-width: 227px;
@icon-heart-big-pink-total-height: 210px;
@icon-heart-big-pink-image: '/img/sprite.png';
@icon-heart-big-pink: 61px 139px -61px -139px 27px 25px 227px 210px '/img/sprite.png' 'icon__heart--big--pink';
@icon-heart-big-name: 'icon__heart--big';
@icon-heart-big-x: 33px;
@icon-heart-big-y: 139px;
@icon-heart-big-offset-x: -33px;
@icon-heart-big-offset-y: -139px;
@icon-heart-big-width: 27px;
@icon-heart-big-height: 25px;
@icon-heart-big-total-width: 227px;
@icon-heart-big-total-height: 210px;
@icon-heart-big-image: '/img/sprite.png';
@icon-heart-big: 33px 139px -33px -139px 27px 25px 227px 210px '/img/sprite.png' 'icon__heart--big';
@icon-heart-pink-name: 'icon__heart--pink';
@icon-heart-pink-x: 72px;
@icon-heart-pink-y: 193px;
@icon-heart-pink-offset-x: -72px;
@icon-heart-pink-offset-y: -193px;
@icon-heart-pink-width: 17px;
@icon-heart-pink-height: 16px;
@icon-heart-pink-total-width: 227px;
@icon-heart-pink-total-height: 210px;
@icon-heart-pink-image: '/img/sprite.png';
@icon-heart-pink: 72px 193px -72px -193px 17px 16px 227px 210px '/img/sprite.png' 'icon__heart--pink';
@icon-heart-name: 'icon__heart';
@icon-heart-x: 90px;
@icon-heart-y: 193px;
@icon-heart-offset-x: -90px;
@icon-heart-offset-y: -193px;
@icon-heart-width: 17px;
@icon-heart-height: 16px;
@icon-heart-total-width: 227px;
@icon-heart-total-height: 210px;
@icon-heart-image: '/img/sprite.png';
@icon-heart: 90px 193px -90px -193px 17px 16px 227px 210px '/img/sprite.png' 'icon__heart';
@icon-home-name: 'icon__home';
@icon-home-x: 176px;
@icon-home-y: 165px;
@icon-home-offset-x: -176px;
@icon-home-offset-y: -165px;
@icon-home-width: 18px;
@icon-home-height: 18px;
@icon-home-total-width: 227px;
@icon-home-total-height: 210px;
@icon-home-image: '/img/sprite.png';
@icon-home: 176px 165px -176px -165px 18px 18px 227px 210px '/img/sprite.png' 'icon__home';
@icon-image-menu-white-name: 'icon__image-menu--white';
@icon-image-menu-white-x: 93px;
@icon-image-menu-white-y: 108px;
@icon-image-menu-white-offset-x: -93px;
@icon-image-menu-white-offset-y: -108px;
@icon-image-menu-white-width: 30px;
@icon-image-menu-white-height: 30px;
@icon-image-menu-white-total-width: 227px;
@icon-image-menu-white-total-height: 210px;
@icon-image-menu-white-image: '/img/sprite.png';
@icon-image-menu-white: 93px 108px -93px -108px 30px 30px 227px 210px '/img/sprite.png' 'icon__image-menu--white';
@icon-image-menu-name: 'icon__image-menu';
@icon-image-menu-x: 111px;
@icon-image-menu-y: 67px;
@icon-image-menu-offset-x: -111px;
@icon-image-menu-offset-y: -67px;
@icon-image-menu-width: 30px;
@icon-image-menu-height: 30px;
@icon-image-menu-total-width: 227px;
@icon-image-menu-total-height: 210px;
@icon-image-menu-image: '/img/sprite.png';
@icon-image-menu: 111px 67px -111px -67px 30px 30px 227px 210px '/img/sprite.png' 'icon__image-menu';
@icon-login-name: 'icon__login';
@icon-login-x: 172px;
@icon-login-y: 122px;
@icon-login-offset-x: -172px;
@icon-login-offset-y: -122px;
@icon-login-width: 24px;
@icon-login-height: 16px;
@icon-login-total-width: 227px;
@icon-login-total-height: 210px;
@icon-login-image: '/img/sprite.png';
@icon-login: 172px 122px -172px -122px 24px 16px 227px 210px '/img/sprite.png' 'icon__login';
@icon-logout-name: 'icon__logout';
@icon-logout-x: 108px;
@icon-logout-y: 193px;
@icon-logout-offset-x: -108px;
@icon-logout-offset-y: -193px;
@icon-logout-width: 18px;
@icon-logout-height: 12px;
@icon-logout-total-width: 227px;
@icon-logout-total-height: 210px;
@icon-logout-image: '/img/sprite.png';
@icon-logout: 108px 193px -108px -193px 18px 12px 227px 210px '/img/sprite.png' 'icon__logout';
@icon-meetings-second-name: 'icon__meetings--second';
@icon-meetings-second-x: 41px;
@icon-meetings-second-y: 67px;
@icon-meetings-second-offset-x: -41px;
@icon-meetings-second-offset-y: -67px;
@icon-meetings-second-width: 38px;
@icon-meetings-second-height: 39px;
@icon-meetings-second-total-width: 227px;
@icon-meetings-second-total-height: 210px;
@icon-meetings-second-image: '/img/sprite.png';
@icon-meetings-second: 41px 67px -41px -67px 38px 39px 227px 210px '/img/sprite.png' 'icon__meetings--second';
@icon-meetings-name: 'icon__meetings';
@icon-meetings-x: 0px;
@icon-meetings-y: 0px;
@icon-meetings-offset-x: 0px;
@icon-meetings-offset-y: 0px;
@icon-meetings-width: 65px;
@icon-meetings-height: 66px;
@icon-meetings-total-width: 227px;
@icon-meetings-total-height: 210px;
@icon-meetings-image: '/img/sprite.png';
@icon-meetings: 0px 0px 0px 0px 65px 66px 227px 210px '/img/sprite.png' 'icon__meetings';
@icon-message-big-pink-name: 'icon__message--big--pink';
@icon-message-big-pink-x: 142px;
@icon-message-big-pink-y: 67px;
@icon-message-big-pink-offset-x: -142px;
@icon-message-big-pink-offset-y: -67px;
@icon-message-big-pink-width: 27px;
@icon-message-big-pink-height: 27px;
@icon-message-big-pink-total-width: 227px;
@icon-message-big-pink-total-height: 210px;
@icon-message-big-pink-image: '/img/sprite.png';
@icon-message-big-pink: 142px 67px -142px -67px 27px 27px 227px 210px '/img/sprite.png' 'icon__message--big--pink';
@icon-message-big-name: 'icon__message--big';
@icon-message-big-x: 0px;
@icon-message-big-y: 165px;
@icon-message-big-offset-x: 0px;
@icon-message-big-offset-y: -165px;
@icon-message-big-width: 27px;
@icon-message-big-height: 27px;
@icon-message-big-total-width: 227px;
@icon-message-big-total-height: 210px;
@icon-message-big-image: '/img/sprite.png';
@icon-message-big: 0px 165px 0px -165px 27px 27px 227px 210px '/img/sprite.png' 'icon__message--big';
@icon-message-pink-name: 'icon__message--pink';
@icon-message-pink-x: 197px;
@icon-message-pink-y: 38px;
@icon-message-pink-offset-x: -197px;
@icon-message-pink-offset-y: -38px;
@icon-message-pink-width: 16px;
@icon-message-pink-height: 16px;
@icon-message-pink-total-width: 227px;
@icon-message-pink-total-height: 210px;
@icon-message-pink-image: '/img/sprite.png';
@icon-message-pink: 197px 38px -197px -38px 16px 16px 227px 210px '/img/sprite.png' 'icon__message--pink';
@icon-message-name: 'icon__message';
@icon-message-x: 197px;
@icon-message-y: 55px;
@icon-message-offset-x: -197px;
@icon-message-offset-y: -55px;
@icon-message-width: 16px;
@icon-message-height: 16px;
@icon-message-total-width: 227px;
@icon-message-total-height: 210px;
@icon-message-image: '/img/sprite.png';
@icon-message: 197px 55px -197px -55px 16px 16px 227px 210px '/img/sprite.png' 'icon__message';
@icon-money-big-pink-name: 'icon__money--big--pink';
@icon-money-big-pink-x: 28px;
@icon-money-big-pink-y: 165px;
@icon-money-big-pink-offset-x: -28px;
@icon-money-big-pink-offset-y: -165px;
@icon-money-big-pink-width: 26px;
@icon-money-big-pink-height: 26px;
@icon-money-big-pink-total-width: 227px;
@icon-money-big-pink-total-height: 210px;
@icon-money-big-pink-image: '/img/sprite.png';
@icon-money-big-pink: 28px 165px -28px -165px 26px 26px 227px 210px '/img/sprite.png' 'icon__money--big--pink';
@icon-money-big-name: 'icon__money--big';
@icon-money-big-x: 55px;
@icon-money-big-y: 165px;
@icon-money-big-offset-x: -55px;
@icon-money-big-offset-y: -165px;
@icon-money-big-width: 26px;
@icon-money-big-height: 26px;
@icon-money-big-total-width: 227px;
@icon-money-big-total-height: 210px;
@icon-money-big-image: '/img/sprite.png';
@icon-money-big: 55px 165px -55px -165px 26px 26px 227px 210px '/img/sprite.png' 'icon__money--big';
@icon-money-pink-name: 'icon__money--pink';
@icon-money-pink-x: 36px;
@icon-money-pink-y: 193px;
@icon-money-pink-offset-x: -36px;
@icon-money-pink-offset-y: -193px;
@icon-money-pink-width: 17px;
@icon-money-pink-height: 17px;
@icon-money-pink-total-width: 227px;
@icon-money-pink-total-height: 210px;
@icon-money-pink-image: '/img/sprite.png';
@icon-money-pink: 36px 193px -36px -193px 17px 17px 227px 210px '/img/sprite.png' 'icon__money--pink';
@icon-money-name: 'icon__money';
@icon-money-x: 54px;
@icon-money-y: 193px;
@icon-money-offset-x: -54px;
@icon-money-offset-y: -193px;
@icon-money-width: 17px;
@icon-money-height: 17px;
@icon-money-total-width: 227px;
@icon-money-total-height: 210px;
@icon-money-image: '/img/sprite.png';
@icon-money: 54px 193px -54px -193px 17px 17px 227px 210px '/img/sprite.png' 'icon__money';
@icon-nav-name: 'icon__nav';
@icon-nav-x: 89px;
@icon-nav-y: 139px;
@icon-nav-offset-x: -89px;
@icon-nav-offset-y: -139px;
@icon-nav-width: 27px;
@icon-nav-height: 23px;
@icon-nav-total-width: 227px;
@icon-nav-total-height: 210px;
@icon-nav-image: '/img/sprite.png';
@icon-nav: 89px 139px -89px -139px 27px 23px 227px 210px '/img/sprite.png' 'icon__nav';
@icon-person-name: 'icon__person';
@icon-person-x: 172px;
@icon-person-y: 67px;
@icon-person-offset-x: -172px;
@icon-person-offset-y: -67px;
@icon-person-width: 24px;
@icon-person-height: 29px;
@icon-person-total-width: 227px;
@icon-person-total-height: 210px;
@icon-person-image: '/img/sprite.png';
@icon-person: 172px 67px -172px -67px 24px 29px 227px 210px '/img/sprite.png' 'icon__person';
@icon-profile-big-pink-name: 'icon__profile--big--pink';
@icon-profile-big-pink-x: 172px;
@icon-profile-big-pink-y: 97px;
@icon-profile-big-pink-offset-x: -172px;
@icon-profile-big-pink-offset-y: -97px;
@icon-profile-big-pink-width: 23px;
@icon-profile-big-pink-height: 24px;
@icon-profile-big-pink-total-width: 227px;
@icon-profile-big-pink-total-height: 210px;
@icon-profile-big-pink-image: '/img/sprite.png';
@icon-profile-big-pink: 172px 97px -172px -97px 23px 24px 227px 210px '/img/sprite.png' 'icon__profile--big--pink';
@icon-profile-big-name: 'icon__profile--big';
@icon-profile-big-x: 82px;
@icon-profile-big-y: 165px;
@icon-profile-big-offset-x: -82px;
@icon-profile-big-offset-y: -165px;
@icon-profile-big-width: 23px;
@icon-profile-big-height: 24px;
@icon-profile-big-total-width: 227px;
@icon-profile-big-total-height: 210px;
@icon-profile-big-image: '/img/sprite.png';
@icon-profile-big: 82px 165px -82px -165px 23px 24px 227px 210px '/img/sprite.png' 'icon__profile--big';
@icon-profile-pink-name: 'icon__profile--pink';
@icon-profile-pink-x: 31px;
@icon-profile-pink-y: 108px;
@icon-profile-pink-offset-x: -31px;
@icon-profile-pink-offset-y: -108px;
@icon-profile-pink-width: 30px;
@icon-profile-pink-height: 30px;
@icon-profile-pink-total-width: 227px;
@icon-profile-pink-total-height: 210px;
@icon-profile-pink-image: '/img/sprite.png';
@icon-profile-pink: 31px 108px -31px -108px 30px 30px 227px 210px '/img/sprite.png' 'icon__profile--pink';
@icon-profile-name: 'icon__profile';
@icon-profile-x: 0px;
@icon-profile-y: 108px;
@icon-profile-offset-x: 0px;
@icon-profile-offset-y: -108px;
@icon-profile-width: 30px;
@icon-profile-height: 30px;
@icon-profile-total-width: 227px;
@icon-profile-total-height: 210px;
@icon-profile-image: '/img/sprite.png';
@icon-profile: 0px 108px 0px -108px 30px 30px 227px 210px '/img/sprite.png' 'icon__profile';
@icon-question-dark-name: 'icon__question--dark';
@icon-question-dark-x: 145px;
@icon-question-dark-y: 139px;
@icon-question-dark-offset-x: -145px;
@icon-question-dark-offset-y: -139px;
@icon-question-dark-width: 20px;
@icon-question-dark-height: 20px;
@icon-question-dark-total-width: 227px;
@icon-question-dark-total-height: 210px;
@icon-question-dark-image: '/img/sprite.png';
@icon-question-dark: 145px 139px -145px -139px 20px 20px 227px 210px '/img/sprite.png' 'icon__question--dark';
@icon-question-name: 'icon__question';
@icon-question-x: 166px;
@icon-question-y: 139px;
@icon-question-offset-x: -166px;
@icon-question-offset-y: -139px;
@icon-question-width: 20px;
@icon-question-height: 20px;
@icon-question-total-width: 227px;
@icon-question-total-height: 210px;
@icon-question-image: '/img/sprite.png';
@icon-question: 166px 139px -166px -139px 20px 20px 227px 210px '/img/sprite.png' 'icon__question';
@icon-reg-name: 'icon__reg';
@icon-reg-x: 157px;
@icon-reg-y: 108px;
@icon-reg-offset-x: -157px;
@icon-reg-offset-y: -108px;
@icon-reg-width: 13px;
@icon-reg-height: 14px;
@icon-reg-total-width: 227px;
@icon-reg-total-height: 210px;
@icon-reg-image: '/img/sprite.png';
@icon-reg: 157px 108px -157px -108px 13px 14px 227px 210px '/img/sprite.png' 'icon__reg';
@icon-safe-name: 'icon__safe';
@icon-safe-x: 172px;
@icon-safe-y: 37px;
@icon-safe-offset-x: -172px;
@icon-safe-offset-y: -37px;
@icon-safe-width: 24px;
@icon-safe-height: 29px;
@icon-safe-total-width: 227px;
@icon-safe-total-height: 210px;
@icon-safe-image: '/img/sprite.png';
@icon-safe: 172px 37px -172px -37px 24px 29px 227px 210px '/img/sprite.png' 'icon__safe';
@icon-search-name: 'icon__search';
@icon-search-x: 214px;
@icon-search-y: 14px;
@icon-search-offset-x: -214px;
@icon-search-offset-y: -14px;
@icon-search-width: 13px;
@icon-search-height: 13px;
@icon-search-total-width: 227px;
@icon-search-total-height: 210px;
@icon-search-image: '/img/sprite.png';
@icon-search: 214px 14px -214px -14px 13px 13px 227px 210px '/img/sprite.png' 'icon__search';
@icon-time-pink-name: 'icon__time--pink';
@icon-time-pink-x: 197px;
@icon-time-pink-y: 123px;
@icon-time-pink-offset-x: -197px;
@icon-time-pink-offset-y: -123px;
@icon-time-pink-width: 16px;
@icon-time-pink-height: 16px;
@icon-time-pink-total-width: 227px;
@icon-time-pink-total-height: 210px;
@icon-time-pink-image: '/img/sprite.png';
@icon-time-pink: 197px 123px -197px -123px 16px 16px 227px 210px '/img/sprite.png' 'icon__time--pink';
@icon-time-white-name: 'icon__time--white';
@icon-time-white-x: 197px;
@icon-time-white-y: 89px;
@icon-time-white-offset-x: -197px;
@icon-time-white-offset-y: -89px;
@icon-time-white-width: 16px;
@icon-time-white-height: 16px;
@icon-time-white-total-width: 227px;
@icon-time-white-total-height: 210px;
@icon-time-white-image: '/img/sprite.png';
@icon-time-white: 197px 89px -197px -89px 16px 16px 227px 210px '/img/sprite.png' 'icon__time--white';
@icon-time-name: 'icon__time';
@icon-time-x: 197px;
@icon-time-y: 21px;
@icon-time-offset-x: -197px;
@icon-time-offset-y: -21px;
@icon-time-width: 16px;
@icon-time-height: 16px;
@icon-time-total-width: 227px;
@icon-time-total-height: 210px;
@icon-time-image: '/img/sprite.png';
@icon-time: 197px 21px -197px -21px 16px 16px 227px 210px '/img/sprite.png' 'icon__time';
@spritesheet-width: 227px;
@spritesheet-height: 210px;
@spritesheet-image: '/img/sprite.png';
@spritesheet-sprites: @icon-add-image-white @icon-add-image @icon-arrow-down @icon-arrow-left @icon-ava-active @icon-ava-make-pink @icon-ava-make @icon-bell @icon-check-mark-pink @icon-check-mark-white @icon-close-white @icon-del-no-disk-pink @icon-del-no-disk @icon-del-pink @icon-del @icon-edit-big-pink @icon-edit-big @icon-edit-pink @icon-edit @icon-envelope-second @icon-envelope @icon-exciting @icon-faq-arrow @icon-girls-second @icon-girls @icon-heart-big-pink @icon-heart-big @icon-heart-pink @icon-heart @icon-home @icon-image-menu-white @icon-image-menu @icon-login @icon-logout @icon-meetings-second @icon-meetings @icon-message-big-pink @icon-message-big @icon-message-pink @icon-message @icon-money-big-pink @icon-money-big @icon-money-pink @icon-money @icon-nav @icon-person @icon-profile-big-pink @icon-profile-big @icon-profile-pink @icon-profile @icon-question-dark @icon-question @icon-reg @icon-safe @icon-search @icon-time-pink @icon-time-white @icon-time;
@spritesheet: 227px 210px '/img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
