section.breadcrumbs
    .layout
        ul(class="breadcrumbs__list" itemscope="" itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumbs__link")
                a(itemprop="item" href="/")
                    span.icon.icon__home
            li(itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumbs__link")
                a(itemprop="item" href="javascript:")
                    span(itemprop="name")
                        | Мой профиль
                    meta(itemprop="position" content="1")
            li(class="breadcrumbs__link")
                span    
                    | Создать встречу