footer.footer
    .footer__top
        .layout
            .col-item
                a.footer__logo(href="/")
                    img.footer__logo__img(src="/img/logo-footer.png" alt="titis.xxx")
                p.footer__desc
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
            .col-item
                .footer__for-users
                    p.footer__for-users__title
                        | Пользователям
                    ul.footer__for-users__nav
                        each val in ['О проекте', 'Все встречи', 'Частые вопросы', 'Контакты']
                            li
                                a(href="javascript:" title=val)= val
                .footer__subscribe
                    .footer__subscribe__title 
                        span
                            | Подписка
                    .footer__subscribe__subtitle
                        | Подпишитесь на все новости,
                        br
                        | чтобы быть в курсе обновлений
                    input(type="text")
                    button.button.button--small.button--small--pink
                        | OK
    .footer__bottom
        .layout
            .col-item
                p 
                    | © «Titis.xxx». 2015-2017 Предназначено для лиц, достигших 18-ти летнего возраста.
                    | Администрация не несёт ответственности за анкеты пользователей.
            .col-item
                nav
                    ul 
                        each val in ['О проекте', 'Пользовательское соглашение', 'Конфиденциальность', 'Правила']
                            li
                                a(href="javascript:" title=val)= val
                                
include ../blocks/modals.pug