doctype html
html
    head(itemtype="http://schema.org/WebSite" itemscope)
        title(itemprop="name")
        meta(charset="utf-8")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(http-equiv="X-UA-Compatible" content="IE=Edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0")
        meta(name="format-detection" content="telephone=no")
        link(rel="stylesheet" media="all" href="/css/style.css")
        script(src="/js/bundle.js" defer)