header.header
    .header__line
        div.layout
            div.header__inner
                a.header__logo(href="/")
                    img.header__logo__img(src="/img/logo.png" alt="titis.xxx")
                div.header__nav-block
                    div.header__nav-block__top
                        div.header__city
                            p.header__city__title 
                                | Ваш город:
                            div.header__city__list
                                p.header__city__current 
                                    | Москва
                                ul
                                    each val in ['Москва', 'Санкт-Петербург']
                                        li
                                            a(href="javascript:" title=val)= val
                        .header__user.header__user__profile
                            .icon.header__user__profile__photo
                            .header__user__profile__menu
                                p.header__user__profile__name
                                    | Евгения
                                ul.header__user__profile__menu__list
                                    each val in ['Создать встречу', 'Мой профиль', 'Мои встречи', 'Сообщения', 'Архив встреч', 'Финансы', 'Выход']
                                        li
                                            a(href="javascript:" title=val)= val
                                            
                        a.header__user.header__user__messages(href="javascript:")
                            span.icon.icon__bell
                            .header__user__messages__num
                                | 15
                    div.header__nav-block__bottom
                        nav.header__menu
                            a.icon.icon__nav(href="javascript:")
                            ul
                                each val in ['О проекте', 'Все встречи', 'Частые вопросы', 'Контакты']
                                    li
                                        a(href="javascript:" title=val)= val