mixin select(list)
    .select__wrapper
        select
            for val in list
                option(value=val)
                    =val

mixin radiocheck(name, title, type)
    - type = type || "checkbox"
    
    label(class="radiocheck")
        input(type=type name=name id=name)
        span
            span
                =title
            
