.pagination
    a.disabled.prev(href="javascript:")
        | &lt;
    a.active(href="javascript:")
        | 1
    a(href="javascript:")
        | 2
    a(href="javascript:")
        | 3
    a(href="javascript:")
        | 4
    span.dots
    a(href="javascript:")
        | 15
    a.next(href="javascript:")
        | &gt;